[2012-10-26 11:36] Kentzo opened #3 "Merge changes from the Root repo"
http://code.google.com/p/shortcutrecorder/source/list

[2012-12-06 14:46] truppelito opened #4 "SRRecorderControl and Auto Layout"
SRRecorderControl bugs horribly when used on a XIB with Auto Layout (constraint-based layout) enabled.

[2012-12-07 09:00] #3 closed, assigned to Kentzo

[2012-12-17 13:04] #4 closed, assigned to Kentzo

[2013-01-07 14:41] truppelito opened #5 "PTHotKey: registering hot keys for function keys doesn't activate action"
I've found that registering a PTHotKey whose key is a function key does not trigger its action as supposed to. Instead, a beep! sound is heard.

Here's what I'm doing:

[code]

Please note that I had just set the F1 key on 'mySRRecorderControl' by typing fn-F1 (F1 by itself being the key that lowers the brightness of my screen). This code works with all key combinations I've tested except, it seem

[2013-01-07 15:18] #5 closed, assigned to Kentzo

[2013-01-07 16:57] Kentzo opened #6 "New usage guide"
1. How to add ShortcutRecorder.framework to a project
2. How to use SRRecorderControl
3. How to add PTHotKey to a project
4. How to use PTHotKey
5. How to encode/decode shortcuts for preferences

Any suggestions of what should I cover in new guide?

[2013-01-18 07:03] Kentzo opened #7 "Add CocoaPods spec"

[2013-02-05 19:14] Kentzo opened #8 "Labels are not truncated when don't fit."

[2013-02-05 19:14] Kentzo opened #9 "Show current shortcut instead of "Type Shortcut" while recording."

[2013-02-07 13:43] #8 closed, assigned to nobody

[2013-02-07 13:43] #9 closed, assigned to nobody

[2013-03-01 22:53] uliwitness opened #10 "SRRecorderControl -dealloc is weird"
Hi,

SRRecorderControl doesn't call [super dealloc]. Also it doesn't seem to release the userInfo it is binding to. Is this some ARC weirdness I've completely missed, or is this an unfinished method?

[2013-03-25 14:41] #10 closed, assigned to Kentzo

[2013-04-10 21:56] agg23 opened #12 "BSD License"
How would you suggest going about displaying the BSD license on a product using Shortcut Recorder?

Thank you

[2013-04-11 19:15] agg23 opened #13 "Activating SRRecorderControl"
I set up the frameworks after a bit of work and added a custom view with the class of SRRecorderControl, but now when I click on the control, nothing happens.  It doesn't start to capture key commands, nor does it call anything (to my knowledge).  What am I doing wrong?

[2013-04-12 11:49] #12 closed, assigned to nobody

[2013-04-15 14:20] #13 closed, assigned to nobody

[2013-04-15 14:48] agg23 opened #14 "Getting Proper Key Code"
How would I go about getting a key code value int such as kVK_Command from the SRRecorderControl object value?  It seems that everything I try returns rather odd, large numbers.

[2013-04-16 16:23] #14 closed, assigned to nobody

[2013-07-07 09:36] jnorth opened #15 "NSTableView support"
`SRRecorderControl`s in view-based `NSTableView`s do not seem to work. The control doesn't receive a `-mouseUp:` message.

Subclassing NSTableView and over-riding the `-mouseDown:` method to do nothing allows the recorder to function. Perhaps there is a better solution?

[Download Example Project](http://sublink.ca/downloads/ShortcutRecorderTest.zip)

[2013-07-09 22:10] ealeksandrov opened #16 "Another issue with activating SRRecorderControl in container other than simple window"
This case is linked with #13.
I have popup panel for menubar application. Inside it has hierarchy of views, where I've inserted SRRecorderControl. On click it's just switching to "pressed" state with no further reaction.
If I am showing recorder in separate window with title bar it works normally.

Screenshot:
![screen shot 2013-07-10 at 2 02 00](https://f.cloud.github.com/assets/3132438/771464/12

[2013-07-12 06:46] #16 closed, assigned to nobody

[2013-08-13 14:09] gcox opened #17 "Support disabling the control"
It would be nice to be able to disable SRRecorderControls. I have an app with several hotkeys so there are several SRRecorderControls, users want to be able to disable all of these at once, which they can using a checkbox I provided.  However, the SRRecorderControls remain lit up, which confuses some users.  Binding to the NSEnabledBinding would be useful.

[2013-08-15 21:14] agg23 opened #19 "Support for Single Characters/Keys"
Is there any way at all to add single character/key support to ShortcutRecorder, as in you press "H" (or any other key) by itself and ShortcutRecorder will capture and save it?  This opens up an even larger area of usefulness for a very useful framework.

[2013-08-16 18:04] #19 closed, assigned to nobody

[2013-08-17 14:41] gcox opened #20 "SRValidator doesn't catch NSMenuItem shortcuts that involve arrow keys"
When using SRValidator to validate a shortcut by testing an NSMenu to see if the shortcut is taken, it fails to detect that an NSMenuItem is using a shortcut involving an arrow key.

If I change lines 128-131 of SRKeyCodeTransformer.m to pass NS_ArrowFunctionKey instead of SRKeyCodeGlyph_Arrow, the problem is resolved and SRRecorderControl still displays the user friendly rendering of the arrow ke

[2013-09-13 04:39] #15 closed, assigned to nobody

[2013-09-13 04:40] #20 closed, assigned to Kentzo

[2013-09-13 13:13] jnorth opened #22 "Conflicting validation with implicitly set key equivalent modifier flags."
With the recent addition of `SRKeyCodeWithFlagsEqualToKeyEquivalentWithFlags`, I've noticed that menu item validation is giving false-negatives with certain flags.

I have a menu item with a key equivalent of `e`, with no modifier flags `0`. When I try to record a shortcut of `⌘e`, the validator says it is taken by the same menu item.

How to reproduce:
1. Create a menu item with a key equivalent

[2013-09-17 05:16] #22 closed, assigned to nobody

[2013-09-26 16:28] pallotron opened #25 "can't build on Xcode5"
I'm trying to use your ShortcutRecoder framework in my xcode project, using xcode5, and i get building errors re. to ARC.
I thought the framework has been modified to be ARC friendly now?

[2013-09-27 10:40] #25 closed, assigned to nobody

[2013-10-09 13:35] zoul opened #28 "Split the protected interface of SRRecorderControl into a separate header?"
The public interface of the `SRRecorderControl` class is quite big. And a good half of the methods are not intented for public consumption – some of them could be used by subclasses, some should be private.

Can we clean the public interface to really keep just the public methods and properties? I suggest moving the private stuff (if any) into an extension in the implementation file and the protec

[2013-11-06 09:17] zoul opened #29 "Merge into the official repository"
It would be great if we could eventually merge the work into the official repository, now that it’s on GitHub. There’s already an [issue in the official repo](https://github.com/shortcutrecorder/shortcutrecorder/issues/62) for this.

[2013-11-12 07:34] zoul opened #30 "Key equivalent checking depends on the current system keyboard layout"
Matching shortcuts against key equivalents + modifier flags behaves differently depending on the current keyboard layout set for the system. This is very non-obvious and quite unfortunate.

The problem is in the implicit modifier checks: we would like to interpret some Unicode characters as having an implicit modifier (like “å” == Option-A), but in order to do that we read the current keyboard lay

[2014-02-05 19:41] JosephDuffy opened #31 "Storing shortcut value using Core Data"
I'm trying to do the following, but I'm having an issue storing the shortcut using Core Data.

I've got my GUI working with a simple text box that saves to a Core Data storage (I used [this tutorial](http://www.raywenderlich.com/21752/how-to-use-cocoa-bindings-and-core-data-in-a-mac-app)). However, I'm struggling to have it save the shortcut. Although I know I can get the string value (via `string

[2014-02-08 18:04] #17 closed, assigned to nobody

[2014-02-11 07:02] #31 closed, assigned to nobody

[2014-02-11 07:03] #30 closed, assigned to nobody

[2014-09-09 19:08] Kentzo opened #32 "Update graphics for Yosemite."

[2015-01-09 09:58] #32 closed, assigned to nobody

[2015-01-09 10:07] Kentzo opened #34 "Focus ring is broken on a view with CI filter"
https://devforums.apple.com/message/1090926#1090926

[2015-01-26 07:13] Kentzo opened #36 "Review ShortcutRecorder API under Swift"
One should test whether current API is usable in Swift applications.

- Rewrite collections to use generics
- Annotate methods with nullability constants
- Annotate designated initializers
- NS_ENUM / NS_OPTIONS
- NS_STRING_ENUM / NS_EXTENSIBLE_STRING_ENUM
- NS_NOESCAPE
- Clang Modules

[2015-04-23 00:57] bdkjones opened #38 "Binding KeyEquivalent disables -validateMenuItem: Call"
I have an NSMenuItem. If I bind `keyEquivalent` and `keyEquivalentModifierMask` as shown in README, then `-validateMenuItem:` is no longer called for this menuItem. As soon as I remove the bindings, `-validateMenuItem:` is called correctly for the menuItem.

This is a problem for me because the logic in `-validateMenuItem:` changes the item's title appropriately and enables/disables as appropriate

[2015-05-03 20:52] bdkjones opened #39 "Xcode 6.3.1 Linker Error"
I updated Xcode from version 6.1 to 6.3.1 last night and now I get the following Linker error when I try to build a project that uses ShortcutRecorder:

![screen shot 2015-05-03 at 13 46 07](https://cloud.githubusercontent.com/assets/926566/7446850/e7725bb4-f19a-11e4-9187-7f0e40a1e70a.png)

I have updated to the latest release of ShortcutRecorder and have followed your instructions exactly to incl

[2015-05-03 21:15] bdkjones commented on #39
Well, I fixed the problem, but I'm unsure whether my fix is a good, permanent one.

I tracked down the duplicate symbol to `SRKeyCodeTransformer.h`:

[code]

I just moved this enumeration to `SRKeyCodeTransfomer.m` instead of the header (since it didn't appear to be used anywhere other than this implementation file). This resolved the Linker error and ShortcutRecorder appears to still work just fi

[2015-05-04 07:31] Kentzo commented on #39
@bdkjones Interesting. Have you tried clean build?

[2015-05-04 07:32] bdkjones commented on #39
Roughly 6,578 times.

[2015-05-04 07:48] Kentzo commented on #39
@bdkjones Please try to build from develop. Looks like you catched a bug :)

[2015-05-04 07:57] bdkjones commented on #39
Son of a....

You know, I spent HOURS today trying to figure out why the Linker was calling that a duplicate symbol. It just didn't make sense; I use NS_ENUM all the time in headers that get imported into countless files. So I finally gave up and just moved the thing to the `*.m` file out of frustration, which is why I said I didn't think that was a very good fix.

All for a missing `typedef`.

Yo

[2015-05-04 07:57] #39 closed

[2015-05-04 08:51] Kentzo commented on #7
As of 0.36, [CocoaPods](http://blog.cocoapods.org/CocoaPods-0.36/) seems to support frameworks. Unfortunately documentation is incomplete and misleading, so I'm looking for a developer who is experienced enough with that utility.

[2015-05-06 06:21] orta commented on #7
You should look at using `NSBundle`'s `bundleForClass` to figure out where to get resources from :+1:

[2015-05-06 06:35] Kentzo commented on #7
@orta Does that mean I have to pack all resources in a bundle? Do you know of a cocoapods-compatible project I can use as a reference?

[2015-05-06 06:43] orta commented on #7
There are tens of thousands of libraries on CocoaPods, here's a search for views that are OS X only, https://cocoapods.org/?q=on%3Aosx%20view - from a quick glance, MIHSliderView might be what you're looking for

[2015-05-06 06:52] Kentzo commented on #38
@bdkjones Sorry for delay.

Could you upload a demo of that issue?

[2015-05-07 19:28] Kentzo commented on #7
@orta All resources of the ShortcutRecorder should be in its own bundle to avoid collisions. However, bundle created from the `resource_bundles` specification does not have any classes or even Info.plist (so no identifier).

How one is supposed to load anything from there?

[2015-05-07 19:28] Kentzo commented on #7
Here is the podspec btw:

[code]

[2015-05-07 20:25] Kentzo commented on #7
Added basic podspec. Please test and let me know if there are any issues.

[2015-06-06 06:26] Econa77 opened #40 "Keycode is not drawn"
If register a shortcut in the demo app, keycode is not drawn.
Is this by design? Is this in the specifications?

For example register a shortcut "⌘ + Shift + v" at "Global Png".
In this Image, not drawn keyCode.

![2015-06-06 15 18 36](https://cloud.githubusercontent.com/assets/2995438/8018606/35c41a52-0c60-11e5-8667-279b93a54462.png)

[2015-06-06 15:47] Kentzo commented on #40
Hi,

It's definitely not by design and not by specifications. If key code cannot be caught, nothing should be drawn.

I wasn't able to reproduce that with cmd + shift + v though: I activated the corresponding recorder, typed cmd + shift + v and it was recorded and drawn.

![screen shot 2015-06-06 at 10 44 18](https://cloud.githubusercontent.com/assets/88809/8020298/30ccad88-0c39-11e5-8f80-31cdf1b1

[2015-06-23 04:11] DanielGibbsNZ commented on #38
I'm also having this problem, although it doesn't look like it's a bug in ShortcutRecorder, but rather in AppKit. See a similar issue [here](http://stackoverflow.com/questions/3337233/binding-an-nsmenuitems-title-breaks-enabled-disabled-validation).

[2015-06-23 14:24] Kentzo commented on #38
I suppose you cannot combine both validation and bindings.

[2015-06-24 00:41] DanielGibbsNZ opened #41 "PTHotKey looks for non-existent file PTKeyCodes.plist"
When calling `description` on a `PTHotKey` object, it tries to load the non-existent file `PTKeyCodes.plist`, which causes an exception with the message `*** -[NSURL initFileURLWithPath:]: nil string parameter`.

Should this file be included in the `PTHotKey` framework or should the code trying to load it be removed?

[2015-08-07 15:00] gcox commented on #7
This podspec works fine for me :+1:

I'm using both ShortcutRecorder and the subspec for PTHotKey.  The only thing I'd like to see is an umbrella header for PTHotkey.

[2015-08-07 20:00] Kentzo commented on #7
@gcox Could you make a PR or point me to the related docs?

[2015-08-07 20:18] gcox commented on #7
@Kentzo There's no docs really, it's just a header file that includes an ```#import``` statement that includes all the public headers...you've already got one in ShortcutRecorder.h, though I haven't checked to see if it actually includes **all** public headers.

I can make a PR but I will need to ask what to name the header file since ```PTHotKey.h``` is already taken and would be the usual name t

[2015-08-07 21:19] Kentzo commented on #7
Oh, I thought you were talking about a parameter in podspec. Sure, I can add this one.

[2015-08-31 02:41] gotow opened #43 "PTHotkey should send actions via NSApplication so responder chain is used for nil targets"
[PTHotkey invoke] and uninvoke currently call [NSObject performSelector:withObject:] to execute their selector. Calling [NSApplication sendAction:to: from:] would allow the hotkeys to invoke actions on the standard responder chain when the target is nil, adding flexibility and more closely following the standard Cocoa application architecture.

[2015-09-07 00:12] Kentzo commented on #43
@gotow PR is welcome :)

[2015-09-08 17:19] gotow commented on #43
I'll definitely be mentioning it in the ReadMe, documentation, etc for Default Folder X 5 when it's released.

 - Jon

[2015-09-08 17:36] Kentzo commented on #43
@gotow Oh, I meant Pull Request :p

[2015-09-08 18:58] gotow commented on #43
Haha! My bad. On the way :-)

 - Jon

[2015-09-09 05:41] su30 opened #45 "10.10 - 10.11 "Dark mode" interface style"
It is will be very nice if you add "Dark mode" interface style.

[2015-09-09 23:12] nrbrook opened #46 "Record escape key"
Is there a way to record the escape key without a modifier? Thanks

[2015-09-10 05:35] Kentzo commented on #45
:heavy_dollar_sign:  Complimentary $150 to the author of the best PR ;) :heavy_dollar_sign:

[2015-09-10 05:37] Kentzo commented on #45
@su30 Is it for all controls though? Would help if you attach a screenshot of what you expect from that graphics.

Normally, if you design your own UI you design _everything_ :) So defaults here would be rather unhelpful.

[2015-09-10 06:15] Kentzo commented on #46
Certain shortcuts are reserved by system. ShortcutRecorder uses old Carbon method to retrieve all such shortcuts (CopySymbolicHotKeys) and enumerate through them.

If match is found, error is reported.

In other hand, you can always disable this by adopting SRValidatorDelegate and implementing `shortcutValidatorShouldCheckSystemShortcuts`. Or you can subclass SRValidator itself.

[2015-09-28 15:46] Kentzo commented on #43
Merged.

[2015-09-28 15:55] Kentzo commented on #41
@DanielGibbsNZ Sorry it took so long. Please take a look at the `develop` branch.

[2015-09-28 15:55] #43 closed

[2015-09-28 15:56] #46 closed

[2015-09-28 15:57] Kentzo commented on #40
@Econa77 Were you able to fix that?

[2015-09-28 15:58] Kentzo commented on #7
Merged in 2.13

[2015-09-28 15:58] #7 closed

[2015-10-02 18:30] jongampark commented on #40
I saw that no modifiers are drawn on OS X 10.10.3, while they were drawn on OS X 10.10.5.
I just grab the latest source code by clicking "Sync" on a GitHub desktop app, but doesn't look to have a fix for that.

[2015-10-02 19:45] Kentzo commented on #40
@jongampark Thanks. Were you able to reliably reproduce it?

[2015-10-02 20:05] jongampark commented on #40
It should be. However, the machine with OS X 10.10.3 is not my machine, but my manager's. I can't test on his machine, because he uses his machine all day long.
That's one of a problem to figure out exact reason why it doesn't display the modifier symbols.
However, even on my OS X 10.10.5, from time to time, if I click the widget to change hot key, it displays the widget with blank text. ( right a

[2015-10-02 20:09] jongampark commented on #40
Hmmm.. somehow on my 10.10.5 with the demo app, it always displays hot key modifiers and key now.
The check-in log shows that the latest one is 17 days ago, but I checked out code initially about 2 weeks ago. So, it should have contained all the latest code, but when I 'synched' today, it got some newer code.
Probably it's fixed? I am not sure, because changed code are mostly about changing "NSUIn

[2015-10-02 20:29] jongampark commented on #40
Ah... it happened on OS X 10.10.5 machine ( my machine )

[2015-10-02 21:21] jongampark commented on #40
I took video with my other machine. ( If I tried so on the same machine or tried to take a screenshot, this problem doesn't happen. It looks to me that it's about 'redrawing' issue. )
https://youtu.be/kh9Qn1GVwvU

How I made it happen on this OS X 10.10.5 machine is by clicking those two shortcut controller widget in turns repeatedly. At some point, it happens. When it happens depends on your luck

[2015-10-02 21:30] Kentzo commented on #40
Could you record a video via QutickTime?

[2015-10-02 21:36] Kentzo commented on #40
You said you were able to reproduce it by clicking view repeatedly. How were you able to do that? After a click you can finish recording only by entering key combo, clicking ESC or one of the buttons.

[2015-10-02 21:40] jongampark commented on #40
I did this repeatedly.

Click 2nd SRRecoderController widget.
Click 3rd SRRecoderController widget.
Click 2nd SRRecoderController widget.
Click 3rd SRRecoderController widget.
...

--
I wonder if the symptom happening on my machine is same to the one reported here originally and what I see on my manager's machine.
On this page, modifiers are shown while key code is not.
On my manager's machine, mo

[2015-10-02 22:19] jongampark commented on #40
With the Demo app ( and with my small fix ), I tried on my manager's machine just a few secs ago.
And it looked to work. Let me integrated it to our app and see if it works there.
If things works, probably I check in my small modification.

[2015-10-02 22:56] jongampark commented on #40
This became trickier. Although a problem in this framework became a little better now, I see a problem with our hosting app. If built in debug mode, everything works fine. If built in release mode, it doesn't display modifier keys. Our hosting app doesn't use ARC. I wonder why it works in debug build.

[2015-10-02 23:54] jongampark commented on #40
On our side, optimization level for release mode ( Fastest/Smallest ) didn't like it. Only when I changed it to -O0, it showed modifiers/keys.
However, I know that the Demo app has the same fastest/smallest option for optimization. So, I wonder why our side of integration caused a problem. One thing clear is that this library uses ARC, while our hosting one doesn't. It can be related to that. Prob

[2015-10-03 05:40] Kentzo commented on #40
@jongampark What are the specs of the machine you're working on?
How do you add view to your personal app?

[2015-10-03 05:41] Kentzo commented on #40
What I suggest is to try to test it with Quartz Debug (Tools -> Flash Screen Updates). See if view gets redrawn.

[2015-10-03 05:48] Kentzo commented on #40
Also, try to comment out the following lines:

https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L534-L535
https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L619-L620
https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L635-L636
https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderC

[2015-10-03 05:50] Kentzo commented on #40
Would make sense to log all calls in the draw* methods. Should be obvious is something is not called when you expect it to be called.

[2015-10-04 16:38] Kentzo commented on #40
@jongampark Another think I'd suggest to try, is to change height from 25 to 24 in https://github.com/Kentzo/ShortcutRecorder/blob/master/Demo/IKCodeAutoLayoutWindowController.m#L87

I noticed, that overall height, despite that constraint, is calculated incorrectly: it's extended with alignmentRectInsets. I'm yet to find why it may affect drawing, but please check.

[2015-10-04 17:30] jongampark commented on #40
@Kentzo  Thank you for your suggestion. However I tried different approach. Instead of commenting those lines out, I called needsDisplay. It reduced the problematic cases. However, it still happened.
I think, yes.. the code change you mentioned should be applied generally, because the problem happened whether it's Release or Debug build. It looks to me that temporal moment when OS X determines tha

[2015-10-04 18:39] Kentzo commented on #40
@jongampark I tried my best, but I cannot reproduce this behavior at all.

Please confirm that drawing methods are called. Also, please try the `develop` branch, I fixed a minor issue, but don't understand how it may affect this bug.

[2015-10-04 18:39] Kentzo commented on #40
@jongampark Ultimately, please write me at kulakov.ilya@gmail.com it would be awesome if I'd have direct access to the machine (TeamViewer, VNC, whatever) to debug it.

[2015-10-05 16:51] jongampark commented on #40
I'm sorry but I may not allow others to access my computers at work. Let me try checking in my changes to develop branch when I go back home and let me try to replicate the problem at home.

One thing I worry is that my home machine is updated to OS X 10.11 while my Mac Pro at work is still is OS X 10.10.

[2015-10-05 17:32] Kentzo commented on #40
@jongampark If you can set up VM where I can reproduce it, it will be great as well. I think the issue may require certain hardware to reproduce.

[2015-10-06 16:59] jongampark commented on #40
@Kentzo I didn't have a chance to check in my small fix. However, our SQA people found that this problem still happens ( which is slightly different from the issue with optimization option. I mean the original issue reported here originally )
Anyway let me try to replicate the problem when I go back home ( hopefully ) today. I didn't have a chance yesterday.

Also, I don't think it's H/W issue. No

[2015-10-06 18:05] Kentzo commented on #40
@jongampark Can be easily related to a particular implementation of OpenGL drivers. And I do not have any other explanation of why I cannot reproduce this at all :)

[2015-10-06 20:24] jongampark commented on #40
Our SQA machine :
Mac Pro 4,1 (early 2009)
Dual Xeon 2.26 GHz Quad-Core
8GB 1066 MHz DDR3 ECC
Mac OS 10.10.5
ATI Radeon HD 5770 1024MB

My machine :
Mac Pro (Late 2013)
3.7 Ghz Quad-Core Intel Xeon E5
12GB 1866 MHz DDR3 ECC
AMD FirePro D300 2048MB

[2015-10-06 20:37] jongampark commented on #40
I tried this :

-----------------
@jongampark Another think I'd suggest to try, is to change height from 25 to 24 in https://github.com/Kentzo/ShortcutRecorder/blob/master/Demo/IKCodeAutoLayoutWindowController.m#L87

I noticed, that overall height, despite that constraint, is calculated incorrectly: it's extended with alignmentRectInsets. I'm yet to find why it may affect drawing, but please check

[2015-10-06 20:47] jongampark commented on #40
Ah... but..  IKCodeAutoLayoutWindowController.m is not part of the framework.
I wrapped your framework in our own framework, which is written on top of Cocoa and Carbon.
So, the trick will not solve the problem.

BTW, let me change other files ( which you said to comment out some lines in them ) to see if it becomes any better.

[2015-10-06 21:04] jongampark commented on #40
In addition to commenting out those lines to by pass drawing elements, I added needsDisplay in drawInterior: message ( as well as drawLabel:, which I did so already )
Let's see if things get any better.

[2015-10-06 21:07] jongampark commented on #40
Using Quartz Debug, I confirmed that the widget area is being updated, which I confirmed at the first place...

[2015-10-07 00:17] Kentzo commented on #40
@jongampark As of size of the widget in the CodeAutoLayout demo: I think it's a bug in Cocoa which only happens when you add constraints by hand. Because it's calculated correctly (25) in the IBAutoLayout demo.

Another thing to try: override [-rectForLabel:withAttributes:](https://github.com/Kentzo/ShortcutRecorder/blob/develop/Library/SRRecorderControl.m#L297-L329) to return `self.bounds`. This

[2015-10-07 19:06] remaerd commented on #36
Hello,

I try to use ShortcutRecorder with Swift 2.1 + Carthage. The Framework was built and Header's looks fine. But no matter how I try, I cannot import the frameworks in Swift. And I have no idea how to solve the problem.

Is there any solution?

[2015-10-07 19:57] Kentzo commented on #36
Can you upload a demo project somewhere?

[2015-10-07 19:58] #41 closed

[2015-10-07 23:17] jongampark commented on #40
Oh.. Thank you for the information. If SQA reports back to me that they still have the problem, let me try the one you suggested.

[2015-10-08 16:35] remaerd commented on #36
Here you go. I use an Objective-C Framework 'ZipZap' which works.

http://d.pr/f/1aeVh

Thanks.

[2015-10-14 17:05] jongampark commented on #40
Finally SQA gave me some feedback. What I did was to comment out what the lines you said.
When I tested a few days ago ( before checking in to our SVN repo ), it worked fine and looked to me that the symptom is lessened a lot. However, now it became worse, and actually the behavior became very same to original description of this issue #40.

I tried to press Shift-<number>. Then it displays only t

[2015-10-14 17:14] Kentzo commented on #40
@jongampark Have you tried to override `-rectForLabel:withAttributes:` to return bounds?

[2015-10-14 17:24] jongampark commented on #40
No, not yet. I checked in code before you mentioned it. I'm working on other issues, but let me quickly test that.

[2015-10-14 17:29] Kentzo commented on #40
@jongampark Sure, no rush :)

[2015-10-14 17:40] jongampark commented on #40
![how it looks on our host app](https://cloud.githubusercontent.com/assets/138396/10492147/2c009bca-725f-11e5-9b95-3294b33586ab.png)
This is how it looks and behave on our app.
Don't worry about the height. I can adjust it. However, although it only shows top tip of the text, I can see that it still displays * for 8 when pressing Shift-8.

Anyway, what you asked to change is for determining the bo

[2015-10-14 17:42] jongampark commented on #40
Just in case these two screenshots shows how it render text differently when returning self.bound and returning labelRect.

![return self bounds](https://cloud.githubusercontent.com/assets/138396/10492309/2d9b2ad0-7260-11e5-960f-1b3231ac32d5.png)
[Image 1] When returning self.bound

![original](https://cloud.githubusercontent.com/assets/138396/10492319/3c7523e4-7260-11e5-8ebf-0c298cb7aac7.png)
[Im

[2015-10-14 17:51] Kentzo commented on #40
@jongampark That's expected. But can you reproduce "truncation" when you return `self.bounds` from `rectForLabel:…` ?

[2015-10-14 17:53] Kentzo commented on #40
@jongampark I really think that's a clipping issue. Either due to height or due to width constraints. It's the only thing that can break it. Take a look at the `drawLabel` code: it's simple and uses Cocoa's API.

[2015-10-14 17:56] Kentzo commented on #40
It's completely unclear why you see * to be drawn instead of 8 "sometimes": it will either happen always or not happen at all. Could you create a separate issue for that?

[2015-10-14 19:04] jongampark commented on #40
Ok. Actually I took a look at the drawLabel code a while ago. Let me double-check that code.

Yes. I also wonder why it displays * instead of 8 'sometimes'. I didn't see it before, but today I keep seeing it. Let me create an issue.

[2015-10-14 19:08] jongampark opened #48 "Characters like !, @, #... &, * are displayed when pressing Shift-1, Shift-2, ...."
While looking at  #40, I changed rectForLabel:withAttributes: in SRRecorderControl.m to return self.bounds to see if there is some clipping issue as requested by @Kentzo

Then, I see the characters laid on top of keys of 1, 2, 3, 4... instead of 1, 2, 3, 4.. when pressing with Shift.

[2015-10-14 19:20] Kentzo commented on #48
What's you locale settings?

Have you set drawsASCIIEquivalentOfShortcut to `YES` ?

[2015-10-14 21:53] jongampark commented on #48
![region](https://cloud.githubusercontent.com/assets/138396/10498921/41d7ec14-7282-11e5-883e-0f49151c2437.png)

drawsASCIIEquivalentOfShortcut is YES by default.
![all info](https://cloud.githubusercontent.com/assets/138396/10499096/43e967de-7283-11e5-89ac-207c7074a0f4.png)

[2015-10-14 22:03] Kentzo commented on #48
@jongampark Now, I wonder if it only happens when current input language is one of Japanese. Do you have keyboard with Japanese layout?

You may want to set a breakpoint in (-[/SRKeyCodeTransformer transformedValue: withImplicitModifierFlags:explicitModifierFlags])[https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRKeyCodeTransformer.m#L266-L344] and see what are values of `aValue`,

[2015-10-14 22:05] jongampark commented on #48
I don't have a keyboard with Japanese layout. I use US keyboard to write in English/Korean/Japanese and others. Let me test the others you asked.

[2015-10-14 22:06] Kentzo commented on #48
@jongampark Hmm, is layout of a English/Korean/Japanese keyboard different from layout of a Japanese keyboard?

[2015-10-14 22:08] Kentzo commented on #48
So what may happen is that OS modifies input key code for different input lang, so instead of SHIFT + 8, app may receive SHIFT + *. But I'm eager to find out the concrete values.

[2015-10-14 22:10] jongampark commented on #48
![japanese keyboard](https://cloud.githubusercontent.com/assets/138396/10499503/873423e2-7285-11e5-9155-5b0311694b7c.png)

As you can see, it's slightly different. Compare the two keys located on the right side of P key with a virtual keyboard in Japanese mode on a US keyboard.

[2015-10-14 22:10] jongampark commented on #48
BTW, I'm using US keyboard layout and English for this.

[2015-10-14 22:12] Kentzo commented on #48
Ok, so let's see what is are the arguments to that method for different input languages.

[2015-10-14 22:28] jongampark commented on #48
First this is common
![first this is common](https://cloud.githubusercontent.com/assets/138396/10499842/2b97fa92-7288-11e5-9d43-7d0d3f3ed130.png)

Let me try typing something and collect the data you want.

[2015-10-14 22:35] Kentzo commented on #48
I'd suggest to use NSLog… I see similar problems with lldb pretty often.

[2015-10-14 22:37] jongampark commented on #48
I will also use Debug build.
It doesn't get any value for the three values you wanted in the transfomredValue:withImp...

[2015-10-14 22:42] Kentzo commented on #48
NSLog is the most reliable :)

[2015-10-14 22:56] jongampark commented on #48
This is with English. I'll post for Japanese also.

Explanation : Started with Shift-7 already displayed on the control.
                      Once displaying it correctly, it tends to display the hot key combination correctly for THAT SPECIFIC combination. Once hit different combination, it displays either only Up Arrow for Shift or Up Arrow and * ( for 8,& for 7, etc ). Then hitting the same com

[2015-10-14 23:00] jongampark commented on #48
With Hiragana Input method

2015-10-14 15:58:33.262 OurApp[5882:1142487] 	 aValue : 67
	 anImplicitModifierFlags : 0
	 anExplicitModifierFlags : 0x20000
2015-10-14 15:58:33.262 OurApp[5882:1142487] 	 aValue : 65535
	 anImplicitModifierFlags : 0
	 anExplicitModifierFlags : 0x20000
2015-10-14 15:58:35.432 OurApp[5882:1142487] 	 aValue : 67
	 anImplicitModifierFlags : 0
	 anExplicitModifierFlags : 0x

[2015-10-14 23:05] jongampark commented on #48
https://youtu.be/vh9T0gi-4f4

This is YouTube video for showing how I tested.

[2015-10-14 23:54] Kentzo commented on #48
Hmm

[code]

This looks suspicious.

[2015-10-15 00:00] Kentzo commented on #48
I typically get 3 or 4. You have way more than that.

Could you try the same test with the demo app (to ensure that we test the same code)?

[2015-10-15 00:07] jongampark commented on #48
As seen in YouTube video, I hit key combination multiple times. I expected that it will show values in transition. Anyway that's why there are so many log lines.

I don't use bindings.

Let me do the same testing with Demo app. But as we have discussed, it's very hard to reproduce this problem with Demo app. Sometimes it happens if I try really really really really really many times.

[2015-10-15 00:09] jongampark commented on #48
When I hit Shift-8
2015-10-14 17:09:16.312 Demo[6421:1458208] 	 aValue : 28
	 anImplicitModifierFlags : 0
	 anExplicitModifierFlags : 0x20000

[2015-10-15 00:10] jongampark commented on #48
When I hit Shift-7
2015-10-14 17:09:36.427 Demo[6421:1458208] 	 aValue : 26
	 anImplicitModifierFlags : 0
	 anExplicitModifierFlags : 0x20000

I just hit once for you. As I said ( for the other issue), it's pretty hard to reproduce this problem ( it's related)

[2015-10-15 00:11] jongampark commented on #48
Can't reproduce it with Demo.app. Probably I need to buy EggPlant for this. ( It's joke. )

[2015-10-15 07:13] Kentzo commented on #48
There are 2 interesting things:

1. Too many calls to turn keycode into string
2. Incorrect values in those calls

[2015-10-15 07:48] Kentzo commented on #48
Well, unless I have code / machine to work with it's hard to debug. Feel free to contact me. We can figure out something (e.g. consulting agreement)

[2015-10-15 15:46] jongampark commented on #48
Ok. I'm working on something else. I hope that I have more time to resolve this.
Thanks, :)

[2015-10-16 02:25] Kentzo commented on #48
No problem. I'd try to find out the source of these odd values passed to the transformer.

[2015-10-20 23:04] jongampark commented on #48
Let me close this issue. This problem was on our side of code.

Let me explain what happened.
I wanted make our framework side of common on Mac and Windows. On our level of code, modifiers and character code are used. However, on Mac and Windows specific code, I do use virtual key code and modifiers.
To rely less on a virtual key to character code map as much as possible, if Cocoa gives a characte

[2015-10-20 23:04] #48 closed

[2015-10-20 23:14] jongampark commented on #40
I figured out why the problem happened.

Although it happens very rarely, the key code part becomes 0xFFFF sometimes. Why I saw the problem more often with my app was that it fires events by its own event manager, which is wrapped around Cocoa's. I found out that it fired some intermediate state of key press.
With the demo app, the possibility that it happens is much lower, but it does happen.

An

[2015-10-20 23:39] Kentzo commented on #48
Good to know you were able to address it :)

Did it also resolve the other issue you opened?

[2015-10-20 23:42] jongampark commented on #48
At least very minor code change solved in my app. I wonder if it would solve the problem for others. Probably it's better to check if keyCode is 0xFFFF further. But anyway.. it checked if objectValue.count is at least 4. I added some explanation there.

[2015-10-28 04:36] Kentzo commented on #40
@jongampark Is it on Mac OS X or on other platforms you run?

[2015-10-28 14:13] jongampark commented on #40
@kentzo it is Mac OS X only of course! It cannot run on Windows!

[2015-10-28 17:49] Kentzo commented on #40
Oh, from the comment to #48 I thought you ported it on other platforms.

[2015-10-28 17:50] Kentzo commented on #40
0xFFFF (or 65535) is usually sent along with key modifiers. In what method did you receive key code of 65535 exactly?

[2015-10-28 17:54] jongampark commented on #40
In most cases, we have our own middle-tier framework on top of Carbon/Cocoa. We pump events in its own scheduling policy. There it looked to me that it pumped some intermediate events.

Second case is with the Demo app. We know that it rarely happens there right? However when I clicked the control multiple times quickly. It sometimes happened. At that moment,key code was not drawn. I noticed that

[2015-10-28 18:02] Kentzo commented on #40
I'll need to simulate this. This can happen if the `keyDown` or `performKeyEquivalent` was called with keyCode of 65535 which shouldn't really ever happen, since such event is key-less.

If you have some time, could you add NSLog to both of the methods above and log keyCode to see, if you will be able to send event of key 65535 there.

[2015-11-12 15:51] nrbrook commented on #46
It turns out there is a method to set this on SRRecorderControl, `-setAllowsEscapeToCancelRecording:`, and also `-setAllowsDeleteToClearShortcutAndEndRecording:`, which I was setting to YES and had forgotten about.

[2015-12-15 17:26] Kentzo commented on #40
Code was merged into master. Hopefully it won't be seen again.

[2015-12-15 17:26] #40 closed

[2015-12-31 17:39] mischievous opened #52 "Keep SRControlView origin/width"
I tried the SRControlView in my window but it completely moved the origin of the control to the top of the window which that caused all sorts of other problems.  Is there way way you control view and just stay where it was place in interface builder....

Thanks,
Alexandra

[2016-01-04 08:19] Kentzo commented on #52
Do you mean the SRRecorderControl view?

[2016-01-04 08:27] Kentzo commented on #52
The SRRecorderControl internal coordinate system is flipped, however it should not affect parental geometry. Could you upload a screenshot? If you're using auto-layout please check constraints.

The frameworks comes with a demo where among other there is an IB demo. There it works properly.

[2016-01-07 20:29] alejr opened #53 "Missing License file"
In order to encourage wider adoption the project should include a LICENSE file making it clear what usage limitations the author intends for it.

[2016-01-20 08:29] Kentzo opened #54 "Update graphics for El Capitan"
I offer a complimentary bonus of $100

[2016-02-13 03:25] anthonycastelli opened #55 "Crash on OS X 10.11"
There isn't any crash log or traceback for this issue, but it also happens so randomly too. I can semi-consistently get it to happen if I remove any data my app has stored and try to create a shortcut. All I have to do is click on the field to get it to begin editing and then I get the crash. Here is a screenshot of this issue.

<img width="2302" alt="screen shot 2016-02-12 at 7 23 19 pm" src="htt

[2016-02-13 03:40] Kentzo commented on #55
Hi Anthony,

While in debugger, please call `bt` to get backtrace.

Best Regards
Ilya Kulakov

[2016-02-13 03:44] Kentzo commented on #55
The problem seems to be delegate got deallocated while SRRecorderControl.

The project does not use the `weak` keyword because of compatibility. However, it should be easy to add this if your project is built against 10.7 and higher.

[2016-02-13 04:23] anthonycastelli commented on #55
Here is the backtrace. Thanks for the tip on that one. I had no idea that existed.

[code]

[2016-02-14 09:08] Kentzo commented on #55
@anthonycastelli I think it would be better if you fix the issue when delegate outlives recorder control. If you need this of some reason, you can manually reset delegate to NULL before it gets deallocated.

[2016-02-14 20:15] anthonycastelli commented on #55
@Kentzo Where should all of this happen? In the framework or in my ViewController?

[2016-02-15 05:40] Kentzo commented on #55
In your code.

You need to track why delegate is being deallocated before ShortcutRecorder.

[2016-02-21 07:34] Kentzo commented on #55
@anthonycastelli I bumped OSX version to 10.7 in the develop branch and update properties. Please take a look.

I'm going to release it after I merge currently open PR.

[2016-02-21 08:11] #55 closed

[2016-02-29 01:47] suewonjp opened #56 "SRKeyCodeTransformer class doesn't seem to work as expected"
Problem:
1. On the demo program, **SRRecorderControl** doesn't show shortcut keys on my system.
1. Say the shortcut key is **⌘ + A**. It just renders only ⌘. Doesn't display A at all.
   - For whatever shortcut keys, it just shows modifier keys only and ignores character keys.

* * *
With a little bit of debugging, it looks to me that the following method in the class **SRKeyCodeTransformer** is n

[2016-02-29 02:36] Kentzo commented on #56
This might be related to https://github.com/Kentzo/ShortcutRecorder/issues/48

What is the value of `tisSource`? Is it nil or some valid pointer?

[2016-02-29 02:54] Kentzo commented on #56
If `tilSource` is not NULL, could you print the result of `(CFStringRef)TISGetInputSourceProperty(tisSource, kTISPropertyInputSourceType);`?

[2016-02-29 07:38] suewonjp commented on #56
[code]
tisSource is valid but that is all I can get:

I think so. But I am using multiple input sources (English, Japanese, Korean, Unicode, ...)
( From the above, **com.apple.inputmethod.Kotoeri** is a Japanese input source object as you may be aware.  )
I guess my environment is a lot similar to the guy at #48

Yep. I pressed ⌘ + A, so I think @0 represents kVK_ANSI_A( == 0x0)

layoutData	CFData

[2016-02-29 08:35] suewonjp commented on #56
According to http://lists.apple.com/archives/cocoa-dev/2009/Aug/msg01510.html,
this problem has been around for quite a long time.

(CFDataRef)TISGetInputSourceProperty(currentKeyboard, kTISPropertyUnicodeKeyLayoutData) returns null for a Japanese keyboard layout. (I'm using one)

Workaround is using TISCopyCurrentKeyboardLayoutInputSource API according to http://stackoverflow.com/questions/191884

[2016-02-29 08:42] Kentzo commented on #56
I.e. this property is set to YES, ok.

@suewonjp I don't think it's a bug actually. That topic is under documented. And names of the constants a little bit misleading. I was somewhat aware of this problem but lack of language specific knowledge didn't allow me to fix it :(

I don't truly understand what input mode is, it seems to be language specific. Could you explain this input concept to me?

[2016-02-29 08:51] Kentzo commented on #56
@suewonjp Please try version from the issue-56 branch.

[2016-02-29 09:03] suewonjp commented on #56
Well, Japanese input source has several modes
- Romaij which is a plain English
- Hiragana (one form of Japanese alphabets)
- Katagana (another form of Japanese alphabets)

You can switch between them. (quite inconvenient)

As you mention, one can say it's language specific.

I wanted to say that I just pressed a plain ASCII key code (not a Japanese character)

BTW, is the following code not OK  f

[2016-02-29 09:58] Kentzo commented on #56
@suewonjp The difference between ASCI and non-ASCI mode is what character will be printed. In non-ASCI mode the control may print locale and input source dependent character, e.g. `⌘ + Ы`. In ASCI mode it will always print `⌘ + S` despite current input source.

Given that:

- Majority of apps and docs are designed, written and supported in English,
- Most (all?) keyboards have ASCI layout on top o

[2016-02-29 14:12] Kentzo commented on #56
@suewonjp Please let me know if fix in the issue-56 branch worked for you.

[2016-03-01 00:03] suewonjp commented on #56
Thanks. It has got better.

But not perfect. Because it doesn't work like the other universal apps do (e.g., Xcode Key Binding UI) at least on my system.

1. As I asked you before, shortcuts with ⌘ or ⌥ work, but **shortcuts with ⌃(control) don't work**.
    - For example, ⌘A, ⌘⇧A, ⌥A, ⌘⌥A  =>  visible  (O)
    - But, ⌃A   => not visible (X)
1.  Shortcuts with only ⇧ are accepted.
    - For exampl

[2016-03-01 00:29] suewonjp commented on #56
Sorry. I checked your demo source and found the following code.

[code]

That's OK. Your UI is at least configurable in order to fit any convention.

But also it's true that I was a little bit surprised.

In my humble opinion, I recommend you change NSShiftKeyMask => NSControlKeyMask in the demo source.

I think there'll be some people like me who is surprised and baffled for a while when your dem

[2016-03-01 03:28] Kentzo commented on #56
@suewonjp Yeah, the demo app explicitly limits allowed modifiers to demonstrate the ability. I think it worths to add a label with description, otherwise, as you proved, it may be misleading.

[2016-03-06 13:59] #56 closed

[2016-03-06 14:10] #53 closed

[2016-03-07 10:24] Kentzo commented on #52
@mischievous Please ping me here if you still have this problem.

[2016-03-07 10:24] #52 closed

[2016-03-21 15:06] larsblumberg opened #58 "Linking with CocoaPods"
I would prefer using CocoaPods over a git submodule. Did anybody have success in doing so?

When I add a dependency to my `Podfile`

    pod 'ShortcutRecorder', :git => 'https://github.com/Kentzo/ShortcutRecorder.git', :tag => '2.15'

Xcode will spit out this error when running the app that makes use of a `SRRecorderControl ` in its storyboard:

    Failed to set (contentViewController) user defin

[2016-03-21 18:08] larsblumberg opened #59 "Add support for value binding in storyboard"
Is there a reason that `SRRecorderControl` doesn't provide a storyboard property for value binding (apart from nobody did it so far)?

I would like to bind its `objectValue` (NSDictionary) to an object to avoid writing glue code.

[2016-03-22 19:57] Kentzo commented on #59
@larsblumberg SRRecorderControl [supports](https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L1403-L1410) the value binding. See [Demo](https://github.com/Kentzo/ShortcutRecorder/blob/master/Demo/IKIBAutoLayoutWindowController.m) for examples.

[2016-03-22 20:02] Kentzo commented on #58
@larsblumberg Could you upload a demo project that would demonstrate the issue?

[2016-03-22 20:23] Kentzo commented on #58
@larsblumberg Also try http://stackoverflow.com/questions/29933691/ibdesignable-from-external-framework and let me know if it works: I'll update the README.

[2016-03-23 04:57] larsblumberg commented on #59
@Kentzo Why it doesn't appear in the storyboard?

[2016-03-23 15:56] Kentzo commented on #59
@larsblumberg That's the Q I don't have an answer for.

Does it work for other UI elements added via CocoaPods?

[2016-03-24 10:20] larsblumberg commented on #59
At the moment I'm not aware of other Pods providing UI controls with bindings. Will come back to this issue as soon as I find one.

[2016-03-24 10:45] larsblumberg commented on #58
Uploaded a simple project, it just has a CocoaPods dependency to ShortcutRecorder and a  `SRRecorderControl` added to its storyboard: https://github.com/larsblumberg/shortcutrecorder-cocoapods-demo

[2016-03-24 10:46] larsblumberg commented on #58
I didn't have success when following the steps from the cited stackoverflow answer. I'm not even sure if I applied the suggestion correctly.

[2016-03-24 15:42] Kentzo commented on #58
@larsblumberg Try version from the [issue-58](https://github.com/Kentzo/ShortcutRecorder/tree/issue-58) branch.

[2016-03-24 16:52] Kentzo commented on #59
As far as I can tell, Xcode does not understand bindings exposed from non-standard views.

[2016-03-24 16:52] #59 closed

[2016-03-25 14:16] larsblumberg commented on #58
Branch [issue-58](https://github.com/Kentzo/ShortcutRecorder/tree/issue-58) fixes both issues – the control not appearing at runtime and in the storyboard. Great! Will you merge to master?

PS: Xcode says that there's a `[super dealloc]` missing in `PTKeyCodeTranslator.m` / `(void)dealloc{}`

[2016-03-25 14:30] Kentzo commented on #58
Hmm, I don't really support PT these days. I'll see into this issue though.

Overall, I'd suggest to find a modern alternative to register global shortcuts.

[2016-03-25 14:34] larsblumberg commented on #58
I personally don't use the PT feature. Xcode had me just pointed to that issue.

[2016-03-25 14:35] Kentzo commented on #58
I wonder if it's possible with CocoaPods to opt out this framework from building.

[2016-03-25 14:39] Kentzo commented on #58
@larsblumberg Merged and released 2.16

[2016-03-25 14:39] #58 closed

[2016-03-25 17:32] larsblumberg commented on #58
@Kentzo Thank you very much!

[2016-03-25 17:53] larsblumberg commented on #58
@Kentzo It's possible to opt out PT if you create a Core subspec. By then only specifying `pod 'ShortcutRecorder/Core'` CocoaPods would install the core part w/o PTHotKey.

See here: https://github.com/jverkoey/nimbus/blob/master/Nimbus.podspec and also here: http://stackoverflow.com/questions/20345566/how-do-you-install-a-pods-sub-spec-without-installing-the-whole-pod

[2016-03-25 17:54] Kentzo commented on #58
@larsblumberg PR is welcome :)

[2016-03-25 18:00] larsblumberg commented on #58
Will prepare a PR

[2016-03-25 18:37] larsblumberg commented on #58
https://github.com/Kentzo/ShortcutRecorder/pull/60

[2016-04-02 18:06] saagarjha opened #62 "Assertion failure in [PTHotKeyCenter sendCarbonEvent:] when switching between light and dark mode"
I'm receiving an "Invalid hot key id" assertion failure from multiple apps, leading me to believe that this is an issue with ShortcutRecorder.

Some more info:
There exists a (hidden) keyboard shortcut to switch between OS X Yosemite's and El Capitan's light and dark themes, Control+Option+Command+T. You can enable this behavior with a `sudo defaults write /Library/Preferences/.GlobalPreferences.p

[2016-04-03 02:50] Kentzo commented on #62
@saagarjha Who is throwing the assertion? Could you post full output and stacktrace?

[2016-04-03 03:40] saagarjha commented on #62
Sure, here's one from [Jumpcut](http://jumpcut.sourceforge.net):

[code]

and a similar one from [CommandQ](https://clickontyler.com/commandq/):

[code]

[2016-04-03 03:47] Kentzo commented on #62
@saagarjha Please try the version from the issue-62 branch.

I personally suggest to find a better solution to PTHotKey. I don't really support it and provide only because it was part of the original version of ShortcutRecorder.

[2016-04-03 03:57] saagarjha commented on #62
Oh, the above software isn't mine…I just wanted to let you know that this error existed. I wasn't aware that you were dropping support.

[2016-04-04 14:49] #62 closed

[2016-04-04 14:50] Kentzo commented on #62
These changes should make this legacy code stable.

Thanks for reporting!

[2016-06-18 18:41] larsblumberg opened #66 "How to record system wide shortcuts as Cmd+Tab?"
How can I make SRRecorderControl record system wide keyboard shortcuts such as Cmd+Tab or Cmd+Space?

[2016-06-18 20:06] Kentzo commented on #66
Mac OS X handles those before it even reaches your app.

[2016-06-20 09:02] larsblumberg commented on #66
I thought there would be an OS X API that would allow to temporarily disable system wide shortcut and thus sent to our apps. I had seen another shortcut recorder control that had an extra option that when enabled would allow system keyboard shortcuts such as Cmd+Tab

[2016-06-20 16:46] Kentzo commented on #66
@larsblumberg It should be possible to handle Cmd+Tab, e.g. see this stackoverflow [question](http://stackoverflow.com/questions/6215201/catch-system-event-as-cmd-tab-or-spotlight-in-a-cocoa-app).

ShortcutRecorder is just a UI component that tries to avoid any sophisticated interaction with system events. I'd suggest you to implement the necessary bits somewhere in your app where it's the most ap

[2016-06-28 03:44] #66 closed

[2016-06-28 03:45] #29 closed

[2016-06-28 03:45] #6 closed

[2017-02-23 12:27] JanX2 commented on #38
I have the same issue @bdkjones. Did you find a workaround? I am thinking that it should be possible somehow to find out what AppKit now believes the target is for calling `-validateMenuItem:`. Or if something short-circuits so that it’s not called anywhere at all.

[Add a symbolic breakpoint on a selector in Xcode](http://stackoverflow.com/questions/8264193/add-a-symbolic-breakpoint-on-a-selector

[2017-02-23 20:53] JanX2 commented on #38
It appears that I have found a workaround for this issue. It is working in my tests at least.

[code]

Then call the following method for every menu item:
[code]

Finally, we implement part of the the `NSMenuDelegate` protocol.

[code]

[2017-02-24 05:45] Kentzo commented on #38
@JanX2 I elsewhere found disassembled AppKit framework made by someone else and analyzed it.

The method of our interest is `-[NSMenuItem _enableItem]`. Its implementation seems to check boolean option in NSUserDefaults named "NSTrackMenuValidation". When set, it prints additional debugging information to the console. Try it, maybe it will get us something useful.

[2017-02-24 12:54] JanX2 commented on #38
Interesting!

It may appear to be more clean to bind `enabled` and `title`. I have tried that. The issue is that I could not find a simple way to have the menu item update it’s title when appropriate.

[2017-02-24 13:27] JanX2 commented on #38
I got it working with just bindings. At least in the app I am currently working on, this requires implementing a lot of `+ (NSSet *)keyPathsForValuesAffecting…` methods.

[2017-02-24 14:15] JanX2 commented on #38
Once I have release the code for the app ([Transcriptions](https://github.com/JanX2/Transcriptions)) it can be used as a reference for how to resolve this issue. If someone needs help before that, please get back to me here.

[2017-02-24 19:39] Kentzo commented on #38
@JanX2 Would worth to file a bug report to Apple as well.

[2017-02-24 21:55] JanX2 commented on #38
@Kentzo
It now appears to me to be more of a documentation issue. It makes some sense to disable `-validateMenuItem:` when bindings are used. It makes things more consistent in a way. But it ought to be documented with `-validateMenuItem:` and maybe a couple of other places.

[2017-02-24 23:33] Kentzo commented on #38
Would make sense to ask to update it then :)

Closing the issue as it's not a problem with ShortcutRecorder, but rather by design.

[2017-02-24 23:35] #38 closed

[2017-02-26 18:42] JanX2 commented on #28
What happened to this issue? Is the limiting factor time? I could do this.

[2017-02-26 18:44] JanX2 commented on #54
Are there any source assets for this?
Working off of the pixels and recreating all the files that way would be cumbersome.

[2017-02-26 21:59] Kentzo commented on #54
@JanX2 I want to keep it in the sketch format as it's more accessible to non-devs who usually handle graphics :)

How the update process is usually done: you extract macOS image resources and compare images against shape one of the buttons (don't remember type by heart).

This needs to be reviewed by someone who also has access to various displays (non-retina, retina and 5k).

[2017-02-26 22:02] Kentzo commented on #28
@JanX2 Ah I'm not sure that's even needed. My rationale was to have a subclassable UI control and I wanted all methods to be public. For that reason splitting the code into categories is as good as `#pragma mark`.

If you have a different opinion, feel free to share.

[2017-02-27 09:09] JanX2 commented on #54
I have access to all but the 5k display, but I do have ways of simulating that via display buffer scaling technique.

For more complex graphics, I would agree that the approach using Sketch is necessary. For these relatively simple graphics, it appears to be overkill. Drawing this in code would make the differently-sized pixel-based images unnecessary and allow for handling arbitrary resolutions.

[2017-02-27 09:11] JanX2 commented on #28
It would be nice to have it be immediately obvious, what is necessary and what is optional. I read through the heads and it was too much information to grasp all at once. Better to have something that can be consumed incrementally.

[2017-02-27 19:50] Kentzo commented on #54
Most of the macOS controls are drawn from images, because drawing in code is unnecessary complicated, may produce inaccurate image and the benefits you outlined above may play against you.

This fork has a few commercial customers, for some of them I worked, that I know for sure used Sketch as a basis for customization. I don't want to bring their flow.

[2017-02-28 11:09] JanX2 commented on #54
Ok. Good arguments.

I have been using PDFs in my commercial and free apps for years. If you know what you are doing (regarding design) the results are a much better workflow and a greater choice of editing tools.

Drawing in code can be a chore when things get complex. Like icons.

What about using PDF images?

[2017-02-28 22:18] Kentzo commented on #54
@JanX2 I'm not sure these images can be accurately expressed in vector. The idea is to mimic drawings of native controls *exactly*, pixel to pixel. There is lot with very sharp eye for details :)

[2017-02-28 22:23] Kentzo commented on #54
As we're talking about images, I think it worth to note that screenshots also need to be replaced with tiff.

[2017-02-28 23:01] JanX2 commented on #54
Why use TIFFs for the screenshots?

For such a 1 px line you would have to use drawing in code or separate PDFs. True.

[2017-03-01 02:46] Kentzo commented on #54
So that screenshots in README won't look blurry on retina displays :)

[2017-03-01 11:52] JanX2 commented on #54
Do you mean multi-res in a single TIFF file? I would just use a single PNG and scale that down, if necessary.

[2017-03-01 15:04] JanX2 commented on #54
What is the macOS UI widget you used as a template for the design?

[2017-03-01 15:58] JanX2 commented on #54
As an aside, the thin Aqua blue border clashes editing state clashes with the graphite focus ring in the Graphite appearance.

[2017-03-02 00:13] Kentzo commented on #54
If I recall correctly, SR mimics exactly the Bevel button. Basically new images should be created for each platform where new shape was introduced.

Isn't this border part of the image? Each image must have a second version then with proper colors for the Graphite appearance on the affected platforms.

The focus ring shape needs to be tweaked in SRRecorderControl for that platform and image then.

[2017-03-02 20:44] Kentzo commented on #54
@JanX2 [`drawFocusRing`](https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L1052-L1056) and [`focusRingMaskBounds`](https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L1058-L1064) methods control how focus ring is drawn, and [`controlShape`](https://github.com/Kentzo/ShortcutRecorder/blob/dba78bc/Library/SRRecorderControl.m#L284-L297

[2017-03-02 20:50] Kentzo opened #67 "Benchmark methods that calculate boundaries."
There are a bunch of places where rects are needlessly re-calculated over most likely constant data.

E.g. [`intrinsicContentSize`](https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L1082-L1086) can just cache results of the `rectForLabel` call.

One of the approaches would be to have cache inside methods that calculate boundaries.
But first each method needs to be

[2017-03-02 20:50] Kentzo commented on #67
@JanX2 Do you think you'd like to take a look at this?

[2017-04-10 16:31] c-alpha opened #69 "Set hotkey combo programatically"
Hi @Kentzo, many thanks for your modernisation efforts!

I am currently converting a project which used @ChrisForsythe's [initial ShortcutRecorder](https://github.com/shortcutrecorder/shortcutrecorder) to now use your new incarnation. It's a plugin for Apple's Mail.app, and I am hence handling the prefs file manually to make sure I don't "pollute" Apple's prefs file but store stuff in a separate f

[2017-04-10 19:04] c-alpha commented on #69
Actually, rethinking it, it would seem that something along the lines of `- (void) setCode:(NSInteger)newCode andFlags:(NSUInteger)newFlags` could make more sense; wouldn't require me to furnish stuff that's palatable to ShortcutRecorder 2's internal workings.

[2017-04-11 19:03] Kentzo commented on #69
@c-alpha The controls supports Cocoa bindings so you should use `setObjectValue` where objectValue is a dict created with [`SRShortcutWithCocoaModifierFlagsAndKeyCode`](https://github.com/Kentzo/ShortcutRecorder/blob/9ab607a/Library/SRRecorderControl.h#L433-L436) or manually populated.

[2017-04-14 23:41] #69 closed

[2017-06-06 09:02] fenfeilove commented on #40
there has some problem
![7a25c9f1-e10c-4dc3-8374-85d0b892f3f4](https://cloud.githubusercontent.com/assets/12816473/26821689/d84caed8-4ad9-11e7-87a0-f9e306c1c61e.png)

[2017-06-06 16:07] Kentzo commented on #40
@fenfeilove what is the key code? What key did you press on the keyboard?

[2017-10-01 02:03] Kentzo opened #72 "Compatibility with Carthage"
Ensure that project is compatible.

[2017-10-01 02:56] Kentzo opened #73 "Incorrect drawing in Interface Builder"
`SRRecorderControl` implements `IB_DESIGNABLE`. For some reason Interface Builder in Xcode 9 (or older?) ignores the `isFlipped` property for drawing in layout. The result looks like this:

<img width="475" alt="screen shot 2017-09-30 at 7 56 27 pm" src="https://user-images.githubusercontent.com/88809/31051282-757f562a-a619-11e7-9226-bbfdd0b052a9.png">

[2017-10-01 03:32] Kentzo commented on #73
Looks like this only happens when superview has Core Animation Layer enabled.

[2017-10-01 04:05] Kentzo opened #74 "App thinning"
Hopefully sometime in the future xcassets will allow only include resources that match the deployment target condition.

[2017-10-01 18:24] Kentzo opened #75 "Localization"
needs to be translated into:

- [x] Korean
- [x] Thai
- [x] Simplified Chinese
- [x] Traditional Chinese

Vocabulary reference:

Korean:

    "The key combination \"%@\" can't be used because %@." = "\"%@\" 키 조합은 다음 이유로 사용이 불가능합니다: %@ ";

Thai:

    "The key combination \"%@\" can't be used because %@." = "ใช้คีย์ลัด \"%@\" ไม่ได้ เพราะ %@";

Simplified Chinese:

    "The key combination \"%@\" ca

[2017-12-08 20:44] Kentzo commented on #73
The issue was fixed in Xcode 9.2

[2017-12-08 20:44] #73 closed

[2017-12-15 11:29] dmitry-moskalets commented on #75
Can help you with Ukrainian translation.

[2017-12-15 17:25] Kentzo commented on #75
@dmitry-moskalets New languages are always welcome!

You can use any of the languages listed at https://github.com/Kentzo/ShortcutRecorder/tree/develop/Resources as a reference.

I found 3 locale identifiers related to Ukranian:
1. uk
2. uk_UA
3. ru_UA

I do not know which one macOS prefers when system's language is set to Ukranian though.

[2017-12-15 17:28] Kentzo commented on #34
Still broken.

[2017-12-15 17:39] Kentzo commented on #34
rdar://36075089

[2018-04-01 10:27] nrbrook opened #78 "'El Capitan' assets missing"
On developer, 'El Capitan.xcassets' is listed in project but files not present.

[2018-09-29 10:39] nrbrook opened #80 "Support macOS Mojave dark mode"
I'd love to see Mojave support, I need it for my App. I will look in to adding support if I get chance

[2018-09-29 18:00] Kentzo commented on #80
Sounds great. Please take a look at the https://github.com/Kentzo/ShortcutRecorder/pull/70 by @JanX2. It has updated assets. However, I'm not sure at this point whether it will be merged as is.

[2018-09-29 18:02] Kentzo commented on #45
Superseded by #80

[2018-09-29 18:02] #45 closed

[2018-09-29 19:07] nrbrook commented on #80
Thanks, I’ve been working on it today. Do you have any tips on creating the background images - are they copies of existing UI elements? What about the snap back and clear icons?

[2018-09-29 20:59] Kentzo opened #81 "Support macOS NSAppearance"
Would be nice to support Vibrancy on macOS (10.10 and upwards).

[2018-09-29 22:13] Kentzo commented on #80
The assets of the control are based on the button styled as "Textured Rounded". The clear and snap are system assets as is (at least used to be).

I used https://github.com/insidegui/AssetCatalogTinkerer to extract them originally.

[2018-09-29 23:44] Kentzo commented on #36
Relevant documentation https://developer.apple.com/documentation/swift/objective-c_and_c_code_customization

[2018-09-30 11:40] nrbrook commented on #80
When are the 'highlighted' images used and what are they based on?

[2018-09-30 21:03] Kentzo commented on #80
I think originally they were based on the system assets. Then they were redrawn by @aljungberg and then again by @jwells89 in https://github.com/Kentzo/ShortcutRecorder/pull/33.

The control used to draw different background when mouse pointer was over it. This feature was retained although current assets do not have assets for this state.

[2018-09-30 21:05] Kentzo commented on #80
I'm thinking of an abstraction to allow simpler control customization (asset-wise). Do not worry about code.

[2018-09-30 21:42] nrbrook commented on #80
Please see https://github.com/Kentzo/ShortcutRecorder/pull/82

Please improve the assets as you see fit

[2018-10-01 00:04] Kentzo commented on #80
@jwells89 Is it different than https://github.com/Kentzo/ShortcutRecorder/blob/develop/Resources/ShorcutRecorder%20Yosemite.sketch ?

@nrbrook Would it be possible to provide a sketch file instead?

[2018-10-01 09:04] nrbrook commented on #80
@kentzo sorry I’ve not used sketch before and did it directly in photoshop. It’s all done with effects though so is editable/transferable.
Dark mode is included in #82. Includes code to load the appropriate images of the appearance changes, as we can’t do it the automatic way using appearance specific assets as we support older macOS (not sure why Apple didn’t seem to consider this possibility and

[2018-10-01 23:17] aljungberg commented on #80
Yeah I drew them by hand in Photoshop based on UI widgets. It's just some gradients, strokes, a rounded rectangle. I'd probably have used Sketch if I did it today.

[2018-10-02 04:47] Kentzo opened #83 "Support for Cocoa Bindings"
I'm considering whether it worths to keep support for Cocoa Bindings.

Xcode and Interface Builder do not show custom bindings and whether they are useful in code (where they compete with a delegate) is not clear.
In addition the control does not support NSEditor / NSEditorRegistration and I'm not sure if it makes sense to invest time into that. I have a feeling that they will be deprecated soon.

[2018-10-02 16:22] Kentzo opened #84 "Allow reverse transformations for custom value transformers"
Where applicable, e.g. for `SRModifierFlagsTransformer`.

[2018-10-05 23:13] #75 closed

[2018-10-10 21:04] Kentzo commented on #83
Will keep supporting Cocoa Bindings.

[2018-10-10 21:04] #83 closed

[2019-06-01 20:09] #67 closed

[2019-06-01 20:09] Kentzo commented on #36
3.0 is designed with Swift in mind.

[2019-06-01 20:09] #36 closed

[2019-06-01 20:10] Kentzo commented on #54
@JanX2 Couldn't find the asset for the pressed state and sticked with the Yosemite until 10.13

[2019-06-01 20:10] #54 closed

[2019-06-01 20:10] #28 closed

[2019-06-01 20:11] Kentzo commented on #28
I have tried to split headers into sections by Task as Apple's docs do.

[2019-06-01 20:12] Kentzo commented on #74
As of 10.14 there is still no app thinning for macOS.

[2019-06-01 20:12] Kentzo commented on #80
Part of the Shortcut Recorder 3.0

[2019-06-01 20:12] #80 closed

[2019-06-01 20:12] Kentzo commented on #81
Part of Shortcut Recorder 3.0

[2019-06-01 20:12] #81 closed

[2019-06-02 07:08] Kentzo opened #94 "Formatting rules for the project"
Would be nice to have a set of rules for something like clang-format to automatically format the code.

[2019-06-09 16:48] dempseyatgithub opened #95 "Support for Swift Package Manager"
Swift Package Manager packages are integrated into Xcode 11. Now that the Apple toolchain has a supported package manager, it would be great if ShortcutRecorder could be part of that ecosystem.

[2019-06-09 21:13] Kentzo commented on #95
That’s in my TODO after I wrap up with 3.0 which should happen quite soon.

PRs are welcome as always

[2019-06-10 21:53] Kentzo opened #96 "Playground page for transformers and formatters"
The playground should show that:

- [ ] The `SRKeyCodeTransformer` class cluster can turn a key code and a shortcut into a string
- [ ] `SRASCIILiteralKeyCodeTransformer` can perform reverse transformations
- [ ] The `SRModifierFlagsTransformer` class cluster can turn modifier flags and a shortcut into a string
- [ ] `SRSymbolicModifierFlagsTransformer` allows reverse transformations
- [ ] `SRKeyE

[2019-06-10 21:54] Kentzo commented on #84
Will be part of 3.0

[2019-06-10 21:54] #84 closed

[2019-06-10 21:56] Kentzo commented on #34
Still a bug in macOS.

[2019-06-19 17:45] dempseyatgithub opened #97 "Documentation and examples not clear on how to register a global shortcut"
I was updating a project that used the pre-10.6, 32-bit version of ShortcutRecorder. Thank you so much for this new version - with macOS Catalina the project absolutely needs to get off of the 32-bit only version!

It was relatively easy to move to the new APIs by reading the documentation in the headers and looking at the playground.

One thing I am stumped by is how to register the shortcuts as

[2019-06-19 18:09] Kentzo commented on #97
`enableShortcutRegistrations` / `disableShortcutRegistrations` control whether underlying Carbon hot keys are active. This is used by SRRecorderControl to suppress all registrations during recording.

Consider the following use-case: you have a control whose value is bound to a shortcut registration. A user begins recording and types exactly the same shortcut. Without suppression, you'd either get

[2019-06-23 02:17] #96 closed

[2019-09-05 23:15] Kentzo opened #100 "Add Showcase GIF"
![sr](https://user-images.githubusercontent.com/88809/64389630-418b5480-cff8-11e9-8003-8d2763042e82.gif)

[2019-09-07 02:47] Kentzo commented on #97
I redid the API and the docs regarding global shortcut registrations.

Regarding the question specifically, the enable/disable terminology was substituted with resume/pause. The docs explicitly point out that `SRGlobalShortcutMonitor` is resumed by default.

[2019-09-07 02:47] #97 closed

[2019-09-10 00:18] Kentzo commented on #95
Apparently SPM still does not support resource bundles: https://bugs.swift.org/browse/SR-2866

[2019-09-22 11:50] gcox opened #102 "Restore support for `keyUp` in 3.0"
Prior to 3.0, a single hot key could be setup that conveniently allowed for both the `keyUp` and `keyDown` events to be handled. (https://github.com/Kentzo/ShortcutRecorder/pull/18)

Unfortunately, this feature got lost in the 3.0 update. The use case presented in the PR above is still perfectly valid.

[2019-09-26 09:27] Yzc-jason opened #104 "2.17.2 upgrade to 3.0 crash"
[General] An uncaught exception was raised
[General] Missing sr-mojave-info
 [General] (
	0   CoreFoundation                      0x00007fff4bde92fd __exceptionPreprocess + 256
	1   libobjc.A.dylib                     0x00007fff764dea17 objc_exception_throw + 48
	2   CoreFoundation                      0x00007fff4bde912f +[NSException raise:format:] + 201
	3   ShortcutRecorder                    0

[2019-09-26 17:00] Kentzo commented on #104
It looks like either the file with resource was not bundled with the framework or somehow the framework failed to resolve the path.

Is it the current master? How was the framework added to the project?

[2019-09-27 00:48] Yzc-jason commented on #104
yes,it is master.
 2.17 : pod 'ShortcutRecorder/Core', :git => 'https://github.com/Kentzo/ShortcutRecorder', :branch => 'master'
3.0:  pod 'ShortcutRecorder' '~> 3.0'

[2019-09-27 03:56] Kentzo commented on #104
Please try the develop branch.

[2019-09-27 10:08] alanjslattery commented on #104
With the develop branch, the error is different, problem moves to SRLoc:

2019-09-27 11:01:17.624748+0100 Grabbit[7124:2841628] [General] Unable to find bundle with resources.
2019-09-27 11:01:17.633162+0100 Grabbit[7124:2841628] [General] (
	0   CoreFoundation                      0x00007fff46f33439 __exceptionPreprocess + 256
	1   libobjc.A.dylib                     0x00007fff716aa3c6 objc_excep

[2019-09-27 17:15] Kentzo commented on #104
Please try again.

[2019-10-12 04:17] #102 closed

[2019-10-17 09:37] Kentzo opened #107 "Add a tooltip for the clear button"
"Delete recorded shortcut" needs to be translated into all supported languages.

[2019-10-18 22:06] #107 closed

[2019-10-18 22:21] Kentzo opened #111 "Remove all instance variable declarations from @ivars"
For further compatibility with Swift and to follow Apple's own efforts ivars should be removed from all `@interface` declarations. In addition, `CLANG_WARN_OBJC_INTERFACE_IVARS` should be enabled in Xcode project settings.

[2019-10-18 22:23] Kentzo opened #112 "Add default style for use in NSTableView and its subclasses"
Applications with numerous shortcuts tend to aggregate them in tables (Xcode is one example). It would be convenient to provide such style with the framework.

It should be enough to do this by implementing `SRRecorderControlStyling` only.

[2019-10-18 22:24] #72 closed

[2019-10-18 22:28] Kentzo commented on #100
![sr](https://user-images.githubusercontent.com/88809/67132003-e4b8b780-f1bb-11e9-984d-2c88fc8c2286.gif)

[2019-10-18 22:33] Kentzo commented on #104
Thank you all for the reporting. 3.1 is released and the issue should be now addressed.

[2019-10-18 22:34] #104 closed

[2019-10-19 06:12] Kentzo commented on #95
Perhaps other useful code (like actions and monitors) can be bundled in a swift package.

[2019-10-20 04:21] jaysonlane opened #113 "How do I set an initial value?"
Everything is working great, however, I want to set a default shortcut that can then be changed via a preferences panel. I am not currently seeing a way to do this.

[2019-10-20 08:49] Kentzo commented on #113
You can assign initial value to the `objectValue` property of the control. Or, if you use bindings, you can assign the default value to the model object.

[2019-10-20 20:58] jaysonlane commented on #113
Thanks!

[2019-10-20 20:58] #113 closed

[2019-10-29 10:59] lwouis opened #114 "Modifier-only shortcut"
I'm building [an app](https://github.com/lwouis/alt-tab-macos/) that triggers when `⌥⇥` is pressed, and should then reacts when `⌥` is released. I would like to let the user decide which shortcut they want to use.

Using `RecorderControl`, the UI refuses to validate the `⌥` as a key. It seems it is viewed only as a modifier, and can't be its own key. However in my current implementation, I'm using

[2019-10-29 16:37] Kentzo commented on #114
AFAIK Cocoa's controls (`NSMenuItem` and `NSButton`) couldn't have such a shortcut and then no one requested it before.

I think that's a reasonable request though.

[2019-11-11 20:24] Kentzo opened #115 "Add support for wantsUpdateLayer"
Most styles can be drawn via wantsUpdateLayer. It's faster and uses less memory.

The control should still implement drawRect: to allow drawing when necessary, e.g. for printing.

[2019-11-11 20:28] Kentzo commented on #114
No I wonder what should be the correct value of `-[SRShortcut keyCode]` when there is not one.

One option is to change `keyCode`'s type to a larger fixed-width unsigned integer and use it's maximum value to represent lack of the key code.

[2019-11-11 20:36] Kentzo commented on #114
Probably a better approach is to change the type to a UInt32 enum and use its maximum as None.

[2019-11-11 21:29] Kentzo commented on #114
@lwouis How would you expect the user to end recording of modifier flags only shortcut? Currently the control relies on pressing a non-modifier key to end it.

[2019-11-12 01:02] Kentzo commented on #114
Please take a look at the issue-114 branch.

[2019-11-16 09:21] lwouis commented on #114
Hey @Kentzo, thanks for working on implementing that feature! That's really nice to see!

I took a look at the branch and its latest commit. There are quite a few changes and it's difficult for me to tell if that's correct since i'm unfamiliar with the codebase. On a short-term scale i can spend time manually testing if there is a way for you to share a build of that branch, or maybe i can build i

[2019-11-16 17:52] Kentzo commented on #114
At this time don't worry on validity of the code, just take a look at the changes from an end user perspective: that the feature is indeed works in a way you'd expect it.

[2019-11-22 02:06] lwouis commented on #114
Hey @Kentzo I tested the branch today! Thanks for working on this so swiftly by the way, I really appreciate it! I was a bit overwhelmed recently but I finally found time today to test your work! I think it's a good first draft, however I see some issues:

* The recording UX is "modifiers-only" or "modifiers-optional". It seems I can't have a recording UI that can accept "^" and "^a" for example.

[2019-11-23 00:40] Kentzo commented on #114
That is logically sound. However it may be annoying to an end user. I would like to see a real case where such mix is needed and is helpful.

That is true. This issue can be partially addressed by the delegate of the RecorderControl. However, it won't allow implementations that have to accept both "^" and "⌥".

That is an oversight. Good catch! Please use the designated initializer for now.

Side

[2019-11-24 23:58] lwouis commented on #114
I'm afraid I don't know which initializer you are referring to here. I'm using `Shortcut(keyEquivalent: value)` in the ShortcutRecorder branch of AltTab. Could you clarify what I should use instead? This is the most important part for us actually, as:

We are actually using a dropdown menu at the moment:

![image](https://user-images.githubusercontent.com/106195/69503869-7eb11400-0f61-11ea-98ab-8a

[2019-11-25 00:24] Kentzo opened #116 "Use auxiliary views for the buttons"
Currently the control draws its auxiliary elements in its implementation of drawRect. It also handles dirtying and accessibility. Accessibility in particularly does not work very well in such approach (e.g. a user cannot navigate to these aux elements).

Both clear and delete buttons should be implemented as either custom views or NSImageView's (if it's possible to set up accessibility properly).

[2019-11-25 00:29] Kentzo commented on #114
`Shortcut(code: .none, modifierFlags: flag, characters: nil, charactersIgnoringModifiers: nil)`

[2019-11-25 08:07] lwouis commented on #114
I updated the code to use that constructor. It works everywhere except one use-case:

When using `GlobalShortcutMonitor` to monitor a modifier-only shortcut, for `forKeyEvent: .up`, it doesn't trigger the shortcut. Shortcuts with modifiers+keycode trigger fine, however modifiers-only like only `.option` don't trigger on key `up`.

[2020-01-22 16:51] bryanforbes commented on #114
Has there been any more work on this?

[2020-01-22 17:15] Kentzo commented on #114
I'm mostly gathering feedback at this moment.

Please explain your use-case and what's missing in the current implementation.

[2020-01-22 17:19] bryanforbes commented on #114
I'm making a program that listens for a global hotkey to mute/unmute the default input device. I want to be able to listen to key combinations like `ctrl-option-command` and `fn-command`.

[2020-01-22 17:56] Kentzo commented on #114
Would you like a key down or key up event?

[2020-01-22 18:40] bryanforbes commented on #114
I need both for push-to-talk

[2020-01-22 20:10] Kentzo commented on #114
When there are multiple modifier flags, it's not straightforward when exactly the shortcut should be invoked. Say you have `fn-command` pressed: should it be invoked as soon as any of the keys is lifted or only after all keys?

[2020-01-22 20:31] bryanforbes commented on #114
Thanks for the explanation. In my mind, `key down` would be fired when all of the modifiers are pressed and `key up` when any one of them is lifted (since the shortcut is no longer being pressed). When do `key down` and `key up` fire for something like `cmd-a` currently?

[2020-01-22 22:28] Kentzo commented on #114
The up and down events are triggered by the non-modifier key, i.e. `a`. Then modifier flags are checked at this very moment. If it's match, then the shortcut gets invoked.

Consider this scenario: you have a shortcut for `ctrl-shift`, `ctrl-cmd-shift` is currently pressed. Now, depending on the order of of key up events the shortcut may or may not be triggered. This ambiguity is confusing and hard

[2020-01-23 00:41] lwouis commented on #114
I like the logic described by @bryanforbes. In @Kentzo example of `ctrl-shift`, `ctrl-cmd-shift`,

- If both are defined shortcuts:
  - `cmd` up -> the  `ctrl-cmd-shift` shortcut is up-triggered
  - `ctrl` or `shift` up -> both ``ctrl-cmd-shift` and `ctrl-shift` shortcuts are up-triggered
- If only `ctrl-shift` is a defined shortcut:
  - `cmd` up -> nothing happens
  - `ctrl` or `shift` up -> `ctr

[2020-01-23 03:06] Kentzo commented on #114
Agreed, the desired behavior depends on the case at hand. Good start would be to write down a comprehensive list of all key up and key down trigger policies.

[2020-01-23 05:49] Kentzo opened #117 "Better control over SRShortcutAction triggering policy"
Currently the shortcut is triggered either by non-modifier key-up or key-down event and additional matching is done by checking the modifier flags. It does not handle [modifier-only shortcuts](https://github.com/Kentzo/ShortcutRecorder/issues/114).

First step is to compile a comprehensive list of all cases that the user may want.

### Terminology

**Shortcut Sequence:** sequence of `key-down` and

[2020-01-23 05:49] Kentzo commented on #114
Compiled a small table of use cases. Please let me know if I have missed something.

[2020-01-23 07:09] lwouis commented on #117
It took me a while to really understand what you detailed here. I think it's very nice and complete! I think you should clarify that the 6 options you listed would be parameters set by the library user, to customize the behavior they want on their shortcut.

I have an object regarding the 3rd section "Triggered by Modifier Key Up". I think the distinction **contains** vs **equals** that you made w

[2020-01-24 07:40] Kentzo commented on #117
Did a couple of clarifications and added the missing policies you pointed out.

A couple of things:
- key-up cannot be "active" since it's no longer pressed.
- in [3] and [4] I see `alt-up` but not `alt-down` in the sequence

[2020-01-24 08:11] lwouis commented on #117
I was not sure what you meant with the underlining. Now you made it clearer. I think there is an issue with the approach though. In *almost* all policies, you can look at the currently pressed or not-pressed keys when a key triggers a up or down event, and that local context is enough. However, in the **Triggered by Modifier Key Up** + **Last Key Up** scenario, there needs to be *memory* that keys

[2020-02-19 13:10] lwouis commented on #117
Hi @Kentzo! Is this issue on your roadmap? I'm kind of waiting on it to be implemented for [alt-tab-macos](https://github.com/lwouis/alt-tab-macos). If you don't have bandwidth to implement that use-case in the coming months, please let me know, that way I can look into another framework as a plan B. Thank you! :)

[2020-03-16 11:13] Kentzo commented on #117
It's definitely on my list, but I'm quite busy atm for the open source projects I maintain.

If you have a commercial interest in this and would like to expedite the process, please [contact](mailto:kulakov.ilya@gmail.com) me and we can arrange something.

[2020-03-22 14:08] Kentzo commented on #114
@lwouis I'm sorry if you mentioned it elsewhere, but for your usecase do you need ShortcutRecorder to register and handle modifier-only shortcut globally or within your app only (e.g. via `LocalShortcutMonitor`)?

[2020-03-22 14:21] lwouis commented on #114
@Kentzo No worries! It's actually a bit tricky to answer that question because the current implementation without ShortcutRecorder has every shortcut global, however, in my ShortcutRecorder branch, I've been experimenting with `LocalShortcutMonitor`. I think for modifier-only, I would only need `LocalShortcutMonitor` to work, however I'm a bit worried that it may not work it the user presses and r

[2020-03-22 14:38] Kentzo commented on #114
I'm asking because I struggle to find API to handle global modifier-only shortcuts the same way ShortcutRecorder handles normal shortcuts currently. Currently it *blocks* delivery of the event after it gets handled.

The only option I see now is a combination of LocalShortcutMonitor  and `+[NSEvent addGlobalMonitorForEventsMatchingMask:handler:]` which may not work the way you want it.

[2020-03-24 03:13] lwouis commented on #114
@Kentzo i'm afraid i couldn't follow the technicalities you explained 😅

[2020-03-24 19:34] Kentzo commented on #114
@lwouis I have altered control's behavior when `allowsModifierFlagsOnlyShortcut` is set to `YES`. Please check it out.

[2020-03-25 18:19] Kentzo commented on #117
Added support for modifier-only key-up and key-down events when modifier flags match exactly.

[2020-03-25 18:21] Kentzo commented on #114
@lwouis Also added support for `keyCode`-less shortcuts onto `LocalShortcutMonitor` and fixed a number of related issues. You can find some sample code in the Documentation playground, at the end of the Sandbox page.

[2020-03-26 00:57] lwouis commented on #114
Thank you @Kentzo! I started testing yesterday and was happy to see the recording part working great (love the way you can press another modifier to add/remove it from the list during capture!). I'll test the `LocalShortcutMonitor` part now 👍

[2020-03-26 02:05] lwouis opened #120 "Warning about fonts on Catalina"
I'm getting this warning:

[code]

I then put a symbolic breakpoint as instructed, and discovered that it is coming from ShortcutRecorder. Here is the stack-trace:

![image](https://user-images.githubusercontent.com/106195/77600420-3de6fd00-6f4b-11ea-84dd-e182a001cc4a.png)

It stems from this call: https://github.com/Kentzo/ShortcutRecorder/blob/master/Library/SRRecorderControl.m#L709

Interesting

[2020-03-26 05:32] lwouis commented on #114
@Kentzo I can confirm that it works great with `LocalShortcutMonitor`!

Unfortunately, I think it doesn't enable my use-case. My current keyboard logic has every interaction a **global** shortcut. I thought I may be able to convert that to: activation with `alt-tab` be global, and then keyboard interactions be **local** (i.e. `LocalShortcutMonitor`) while the UI is open and shown to the user. Howe

[2020-03-26 05:51] Kentzo commented on #114
@lwouis So far I was not able to modify `GlobalShortcutMonitor` to work without a proper keyCode.

However, you can try `NSEvent/addGlobalMonitorForEvents(matching:handler:)` it is similar to `GlobalShortcutMonitor` except that it doesn't _capture_ the event, merely _taps_ them.

[2020-03-26 06:52] lwouis commented on #114
@Kentzo I just tried and it works indeed. I think this may unblock me to integrate for now. However, as you pointed out, it is still not ideal since after the user releases the modifiers-only shortcut, that event is acted upon, but then also forwarded to the previously-focused app.

In my specific case, I don't think many app will react to a modifier-only shortcut being up, so I think it's a reaso

[2020-03-26 07:07] Kentzo commented on #114
Have you also tried to override `NSApplication/sendEvent(_:)`?

[2020-03-26 07:09] lwouis commented on #114
Yes I tried. However the NSApplication will only receive events if it is activated in the first place. That activation is what I'm trying to avoid because it loses focus on the original app the user was using

[2020-03-26 07:14] Kentzo commented on #114
In that case I doubt there is a better workaround than NSEvent's global monitor. The ancient Carbon API I use to register global hot keys seem ignored to modifier-only shortcuts.

[2020-03-26 07:21] lwouis commented on #114
I [currently use](https://github.com/lwouis/alt-tab-macos/blob/master/src/logic/Keyboard.swift#L14) the `CGEvent.tapCreate` API. It's a global monitor that works with any input. It has [some limitations](https://github.com/lwouis/alt-tab-macos/issues?q=is%3Aopen+is%3Aissue+milestone%3Av4) but overall has been serving me great so far. The main goal to move to ShortcutRecorder is the amazing user re

[2020-03-26 07:27] Kentzo commented on #114
It was inherited from the original implementation of ShortcutRecorder.

[2020-03-26 07:33] Kentzo commented on #114
From what I see it appears to be the same as `NSEvent/addGlobalMonitorForEvents(matching:handler:)`, i.e. does not allow to block events.

[2020-03-26 07:38] lwouis commented on #114
I'm confused. Using ShortcutRecorder `GlobalShortcutMonitor.shared` does block events. It is it using the Carbon API internally, then the Carbon API can block events. I can see in my tests that the keyboard pressed are not propagated to the app with keyboard focus when I used `GlobalShortcutMonitor.shared`

[2020-03-26 07:45] Kentzo commented on #114
That is correct, Carbon API does allow to block events.

In my comment regarding `NSEvent/addGlobalMonitorForEvents(matching:handler:)` I compared it against `CGEventTapCreate`.

[2020-03-26 07:50] Kentzo commented on #114
Could you explain the limitation of `CGEventTapCreate`? Does or does not it allow blocking the events?

[2020-03-26 07:53] lwouis commented on #114
Oh I see, I read it the other way around. `CGEventTapCreate` allows to block the event, or propagate it.

[2020-03-26 08:03] lwouis commented on #114
I just found out another limitation of the `addGlobalMonitorForEvents` workaround: it doesn't not handle properly this modifier-only keyUp scenario:

`alt-down` > `tab-down` > UI appears > `tab-up` > `shift-down` > `alt-up` > UI doesn't disappear > `shift-up`

The direct scenario works though:

`alt-down` > `tab-down` > UI appears > `tab-up` > `alt-up` > UI disappears 👍

I imagine, this is because

[2020-03-26 09:16] Kentzo commented on #114
Can you share the code of how you configured `LocalShortcutMonitor` and installed NSEvent's monitor?

[2020-03-26 09:47] lwouis commented on #114
[This branch](https://github.com/lwouis/alt-tab-macos/blob/shortcut-recorder-wip) builds, and has ShortcutRecorder integrated and working (mostly). Here you can see how I used [LocalShortcutMonitor](https://github.com/lwouis/alt-tab-macos/blob/shortcut-recorder-wip/src/ui/preferences-window/tabs/GeneralTab.swift#L46) and [NSEvent monitors](https://github.com/lwouis/alt-tab-macos/blob/shortcut-reco

[2020-03-26 09:52] lwouis commented on #114
I thought that [returning `false` in the ShortcutAction handler](https://github.com/lwouis/alt-tab-macos/blob/shortcut-recorder-wip/src/ui/preferences-window/tabs/GeneralTab.swift#L81) would propagate the event, but it doesn't. For ShortcutActions used with `GlobalShortcutMonitor`, is there a way to not block, but propagate them back to the original application?

I'm using `GlobalShortcutMonitor.s

[2020-03-26 10:09] Kentzo commented on #114
I'm not sure: is the issue that NSEvent's handler does not receive the necessary flagsChanged event or it's `LocalShortcutMonitor` that fails to dispatch it.

Can you add a breakpoint onto NSEvent's handler with something like `po $0` to record all incoming events and paste the result here?

[2020-03-26 10:29] lwouis commented on #114
Here is the code:

[code]

Here is the output when I had `alt-down` and I pressed: `shift-down` > `alt-up` > `shift-up`:

[code]

The 3 events correspond to the 3 key events, so `addGlobalMonitorForEvents` is correctly triggering, but `LocalShortcutMonitor.handle` is returning `false` on the second event, but it should not

[2020-03-26 10:32] Kentzo commented on #114
What is the value of the `holdShortcut` key equivalent in your code?

[2020-03-26 10:45] lwouis commented on #114
It's `⌥`

[2020-03-26 11:27] Kentzo commented on #114
In that case, the second flagsChanged event that corresponds to `shift-down & alt-up` is interpreted by `LocalShortcutMonitor` as the `shift-alt` shortcut of the `up` event type.

As you may have noticed, a flagsChanged event has `modifierFlags` equal to the currently pressed modifier keys and `keyCode` equal to whichever modifier key was up or down.

`LocalShortcutMonitor` then [determines](https

[2020-03-26 11:33] lwouis commented on #114
This issue is unlikely to really bother people in the real world since it's quite an involved sequence of keys, during which even the user may get confused by what they wanted to do. They would then just do it again and it would be fixed.

However, this is a real problem with large consequences:

I looked everywhere in the docs but couldn't find a way to let the event propagate from the `GlobalSho

[2020-03-26 12:36] Kentzo commented on #114
Pushed a fix onto issue-114 that should make `GlobalShortcutMonitor` to respect result of action's handler.

[2020-03-26 12:39] Kentzo commented on #114
Remember, that you can dynamically enable/disable actions even after they are added to a monitor via the `enabled` property.

[2020-03-26 16:48] Kentzo commented on #114
@lwouis Looked at your [current solution](https://github.com/lwouis/alt-tab-macos/blob/master/src/logic/Keyboard.swift#L14) for event tapping. I believe you can keep it, just switch to `LocalShortcutMonitor`.

After reading some docs I believe the major difference is that `CGEventTagCreate` requires the process to be either root or have Accessibility enabled. `GlobalShortcutMonitor` does not requi

[2020-03-26 20:57] Kentzo commented on #114
Added the `SRAXGlobalShortcutMonitor` that uses `CGEventTapCreate` under the hood. Let me know if it works for you.

[2020-03-27 02:05] lwouis commented on #114
That's really cool! Nice to have a choice like this for users! I tried to read your implementation, but it's a bit hard for me. I noticed though that there is no mention of "timeout". I remember struggling with random issues until I understood that sometimes the system sends you these 2 events:
https://github.com/lwouis/alt-tab-macos/blob/master/src/logic/Keyboard.swift#L70

You may want to be car

[2020-03-27 03:42] lwouis commented on #114
I think I found a bug in the `issue-114` branch. You changed code around here:

https://github.com/Kentzo/ShortcutRecorder/blob/issue-114/Library/SRShortcut.m#L44

I'm getting exceptions now with `EXC_BAD_INSTRUCTION` because it tries to do `aKeyboardEvent.characters`. Looking at the docs, it says:

I don't understand all the logic at play here, but it consistently crashes there after a few minute

[2020-03-27 06:33] Kentzo commented on #114
Do you happen to have the full exception with exact trace and message?

[2020-03-27 07:46] lwouis commented on #114
Pressing `e` on my keyboard, the event is passed to the monitor `.handle` function which throws:

[code]

Here is the stack trace:

[code]

In a more colorful way:

![image](https://user-images.githubusercontent.com/106195/77733565-6f92bd80-704a-11ea-9179-e3b5160bd2f2.png)

[2020-03-27 08:45] Kentzo commented on #114
Can you `po aKeyboardEvent`?

[2020-03-27 09:42] Kentzo commented on #114
I have been further experimenting with Carbon Hot Key API to find a way to propagate the event when action handlers return false.

I believe it does propagate, however not in a way you expect: the event that gets propagated is of type `kEventHotKeyPressed` / `kEventHotKeyReleased`, not `kEventRawKeyDown` / `kEventRawKeyUp`. In other words the event gets propagated to other hot key handler in the c

[2020-03-28 09:20] Kentzo commented on #114
@lwouis Sent [bug report](https://gist.github.com/Kentzo/f8289d99c5d93d81f5ca60b7adc94fae) regarding hot key propagation to Apple. You may want to dupe it.

[2020-03-30 00:29] lwouis commented on #114
I'm afraid it doesn't help much more than the info we already have. Here is what I get from running `po` or clicking the `print info` button in XCode:

[code]

![image](https://user-images.githubusercontent.com/106195/77865363-ee654180-7268-11ea-8707-a356a39d2609.png)

[2020-03-30 06:54] Kentzo commented on #114
Hmm, that output from the debugger suggests the event is no longer valid and probably got deallocated in the process. Can you enable zombie objects and see if it gets triggered? Also, please run `po` right after your code receives the event from the system.

[2020-03-30 07:48] lwouis commented on #114
@Kentzo I enabled zombie objects, but I don't think it's triggering. I'm not sure what it does actually, and I see nothing new so I assume it doesn't trigger. I put a breakpoint in my app code as soon as I get the `CgEvent` from the `CGEvent.createTap`. Here is what I see:

![image](https://user-images.githubusercontent.com/106195/77887869-4b331d00-72a6-11ea-9595-8afa5b23c9e6.png)

[2020-03-30 10:40] Kentzo commented on #114
Can you dump info about `cgEvent` via the `CGEventGet*` family of functions and attach the output? I'll also try to isolate the issue on my machine.

[2020-03-30 12:26] Kentzo commented on #114
I was unable to reproduce the exception with the following code:

[code]

[2020-03-31 03:03] lwouis commented on #114
I had to use the ported APIs since the `CGEventGet*` were deprecated and are unusable starting from Swift 3:

![image](https://user-images.githubusercontent.com/106195/77981959-255d5500-7346-11ea-9698-67f3265615af.png)

This is what I got with the ported APIs:

![image](https://user-images.githubusercontent.com/106195/77982500-7457ba00-7347-11ea-8ecf-203578056431.png)

It matches what we saw previ

[2020-03-31 03:26] lwouis commented on #114
I can reproduce with a single-file app:

[code]

It crashes on the `.characters` call. I'm thinking the issue may be that the RunLoop in on a background thread. Is there any constraint for the CGEvent to be listened to on the Main Thread?

[2020-03-31 03:33] lwouis commented on #114
How do you handle multi-threading in ShortcutRecorder? The reason I have a background thread in AltTab is that I want keyboard events to be processes outside the Main Thread. I want them to be able to switch a mutex/flag to stop work on the Main Thread. The use-case is the following:

User hits alt-tab > start rendering the UI to show them > they release alt-tab very quickly > event is received in

[2020-03-31 03:48] lwouis commented on #114
There is [interesting info on those WWDC 2019 slides](file:///Users/louis.pontoise/Downloads/701_advances_in_macos_security.pdf). Apple clearly wants to limit what can be done out-of-the-box for macOS apps, and have them ask for permissions to do things such as listening to the keyboard, or sending synthetic events like imitating a click to avoid malware clicking dialog for instance.

In that cont

[2020-03-31 07:21] lwouis commented on #114
A bit unrelated but I just found this out: the `allowsEmptyModifierFlags` is not respected. I don't know if it's a regression in the `issue-114` branch, or if it's on `master`, but I have a `RecorderControl` on which I `.set(allowedModifierFlags: CocoaModifierFlagsMask, requiredModifierFlags: [], allowsEmptyModifierFlags: false)`. I can see that the value is correctly set to false: `debugPrint(inp

[2020-03-31 07:59] Kentzo commented on #114
I guess the main difference is that Carbon API I use is akin to addGlobalEventMonitor, i.e. allows to receive events only, not alter them. While CGEventTap implies that the event being passed can be modified by the handler.

My understanding that when you register a key combination as a Hot Key (in Carbon terms), the OS assigns a different event type before dispatching it further. Hence the apps n

[2020-03-31 08:01] Kentzo commented on #114
What is the value of `CocoaModifierFlagsMask`?

[2020-03-31 08:23] lwouis commented on #114
The rendering happens within `NSView` components, which are all not thread-safe and must all be rendered/updated on the main thread. This is a big design constraint coming from Apple's AppKit. The only way to escape that is to do completely custom rendering, which is out of scope for me as I don't want to turn this project into an OpenGL video game engine. I don't have the skillset for that 😅

But

[2020-03-31 09:33] lwouis commented on #114
I think I will implement custom validation to work around that issue. I actually need all non-modifier keys to be not allowed. This means even if `allowsEmptyModifierFlags` was working, I would still need to prevent `modifier(s) + key`. To illustrate:

* `⌥` -> valid
* `e` -> invalid
* `⌥e` -> invalid

I believe there is documentation for custom validators in the project. I'll check it in the play

[2020-03-31 10:50] Kentzo commented on #114
For `GlobalShortcutMonitor` I rely on API that does not require me to specify a run loop. I assume that Carbon API does not require one or implicitly use a default one from the main thread.

For `AXGlobalShortcutMonitor` I default to the current run loop where the object is instantiated unless you pass custom run loop.

For `LocalShortcutMonitor` there is no need for a run loop as it merely dispat

[2020-03-31 11:03] Kentzo commented on #114
Added a remedy for the NSEvent bug we just discovered.

[2020-04-01 06:12] lwouis commented on #114
That was very simple to do by overriding the following method in a subclass of `RecorderControl`:

[code]

[2020-04-01 06:17] lwouis commented on #114
I checked the commit, and I think it could be improved. You are trying to access `.characters`, and [catching exceptions if they arise](https://github.com/Kentzo/ShortcutRecorder/commit/646a59c8f53a336456be05fffd5cde4ca1d4328d#diff-b9e87da66f98492095a54f12807902a9R75). In case like mine where the events are processed in a background thread, every single call is going to throw, get caught, then pro

[2020-04-01 06:26] Kentzo commented on #114
Exceptions are ["zero-cost"](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/Exceptions/Articles/Exceptions64Bit.html) in objc modern runtime (read 64bit, 10.6+).

The reason I opted for exception is that I believe it's a bug. It may have worked before it may get fixed in the future. ShortcutRecorder does not make any promises regarding thread safety and expects external

[2020-04-01 06:32] lwouis commented on #114
To clarify the state of things regarding AltTab:

* I have a working integration of SR that uses the previous `CGEvent` `createTap` code from AltTab together with a `LocalShortcutRecorder`
* Ideally I would like to use `GlobalShortcutMonitor` as I was hoping it would fix these issues: https://github.com/lwouis/alt-tab-macos/issues/17, https://github.com/lwouis/alt-tab-macos/issues/175, https://git

[2020-04-01 06:35] Kentzo commented on #114
I'm going to merge this branch into master as soon as all issues related to modifier-only shortcuts are tucked.

Have you considered the `enabled` property of shortcuts and ability to `pause`/`resume` the global monitor? Perhaps it can help in implementing your scenario.

[2020-04-01 06:36] Kentzo commented on #114
In the screenshots above, what is the exact value of control's width?

[2020-04-01 06:51] lwouis commented on #114
I did. I also opened a ticket for the `NSEvent.characters*` access crashing on a background thread.

In the `RecorderControl`:

[code]

Logs:

[code]

Thus I believe the `fittingSize.width` is 146 by default, then goes down to 82 after I add the constraint.

[2020-04-01 09:04] lwouis commented on #114
A bit unrelated but I thought I should share with you:

* https://www.logcg.com/en/archives/2902.html
* https://www.codesd.com/item/how-to-hang-up-remap-an-arbitrary-keyboard-event-on-osx.html

There is massive information in these articles. It made me curious to try alternate ways to record keys, such as [this project which uses HID API](https://github.com/SkrewEverything/Swift-Keylogger). I like

[2020-04-02 21:21] Kentzo commented on #114
I have pushed an update that modifies the behavior of Global monitors with respect to the `isEnabled` property. As of now, handlers are added and removed dynamically depending on whether corresponding actions are enabled.

You may use this to dynamically opt in and opt out from global event handling.

[2020-04-03 03:24] lwouis commented on #114
I think last time I tried `GlobalShortcutMonitor`, it didn't recognize modifiers-only `.keyUp`. For example `alt-up` to focus the window in AltTab wasn't recognized.

By the way, I released the new version of AltTab which uses ShortcutRecorder! The shortcut side seems great. There is still the issue with the size of the shortcut controls (the width=82px discussion), but I figured it's good enough

[2020-04-03 16:24] Kentzo commented on #114
Correct, GlobalShortcutMonitor won't work. However I still hope you can intercept key events via a local events monitor.

Could you explain in detail why exactly you cannot capture keyboard focus? Perhaps I can come up with a sensible workaround.

[2020-04-03 17:29] lwouis commented on #114
I'll call the window the user was interacting with "the background window".

Having AltTab window become key means:

* The background window locus clues of visual focus: get's dimmed, color circles on the top left change. This can be distracting in some cases
* keyboard focus is lost. Let's say the user is typing text and it's cursor is in a specific spot he wants to paste into. He hits alt-tab to

[2020-04-03 18:27] Kentzo commented on #114
Should be fixed.

I suggest to implement delegate's `recorderControl(_:, canRecord:)` instead.

[2020-04-04 07:51] lwouis commented on #114
Actually, why do you hope for that? The current solution i used is CGEvent tap for everything, then calling the localshortcutmonitor.handle method. Is there any benefit to using activating the app, then catching local events instead? Also there will always be a need for global event listening for initial activation.

What would be the benefit of switching away from cgevent taps? For the password i

[2020-04-04 09:44] Kentzo commented on #114
If AltTab depend on the Accessibility permission, then indeed there is no gain.

Otherwise my hope is to being able to help you to get rid of this permission. It is akin to asking for root: you can inject any event. Which makes your app a target for malware.

[2020-04-04 10:01] lwouis commented on #114
AltTab is already making extensive use of the Accessibility APIs to see OS events such as "a new window was opened", "an app was quit", "the title of a window changed", or to focus windows. I don't think there is anyway we can stop granting these permissions. It makes sense in many ways that AltTab is an accessibility app.

Regarding being a target for malware, It's about what is done in the end.

[2020-04-04 10:54] Kentzo commented on #114
I will be looking onto rendering today. In general I also suggest implementing custom style if custom constraints produce bad results.

[2020-04-04 11:26] lwouis commented on #114
I looked into the wiki section for styling, and also the playgrounds, but couldn't figure out how it works

[2020-04-04 11:44] Kentzo commented on #114
Right now the best way is to read the SRRecorderControlStyle.h header.

[2020-04-04 15:30] Kentzo commented on #114
The bug with label clipping should be addressed now.

[2020-04-05 07:19] bdkjones opened #121 "Warning About SRShortcutAction dispatchQueue"
In Xcode 11.4 on macOS 10.15.4, I'm seeing the warning below about the `@property` declaration for the `dispatchQueue` in `SRShortcutAction.h`. It would be nice to resolve this. I don't really like using the `-w` flag to turn off warnings because then I miss things when I update the files.

Thanks!

![Screen Shot 2020-04-05 at 00 18 52](https://user-images.githubusercontent.com/926566/78469121-090

[2020-04-05 07:26] Kentzo commented on #121
Thank you for the report.

The dispatch queue will be gone in the next release.

[2020-04-05 08:23] Kentzo commented on #120
Should be fixed in the issue-114 branch.

[2020-04-05 14:32] lwouis commented on #114
I think there are a few issues. Here is the behavior I observe:

Control with `ctrl`:

![image](https://user-images.githubusercontent.com/106195/78500939-5d282a80-7794-11ea-80c0-8fcd10af7456.png)

I click then press `ctrl` and `alt`; it doesn't show `alt`:

![Screen Shot 2020-04-05 at 23 23 08](https://user-images.githubusercontent.com/106195/78500968-86e15180-7794-11ea-8156-07ec58a1720e.jpg)

On

[2020-04-05 15:28] lwouis commented on #120
The warnings are still there unfortunately, from this line:

https://github.com/Kentzo/ShortcutRecorder/blob/issue-114/Library/SRRecorderControl.m#L747

[2020-04-05 21:37] Kentzo commented on #120
Hmm, can you change https://github.com/Kentzo/ShortcutRecorder/blob/issue-114/Library/SRRecorderControlStyle.m#L689 to unconditionally use -systemFontOfSize: and see if it helps with the warning?

[2020-04-06 06:44] lwouis commented on #120
I tried, but the exception is still thrown. Line 689 you linked is executed 3 times, everytime with the value for `font` being:

[code]

Then *after* those 3 execution, the exception is thrown on line 747 I linked

[2020-04-06 07:58] Kentzo commented on #120
Interesting. Can you reproduce the issue in a demo app, just drawing any string with the same label attributes?

[2020-04-06 08:20] Kentzo commented on #114
Please take a look now. Enabling label "shifting" exposed a couple of issues related to redrawing.

An "extension tooltip" is not the same as a tooltip: it draws on top of control's content, extending beyond its frame. The recorder control does not support this option out of the box as it does not use `NSCell`.

I will look into implementing this, but no promises.

[2020-04-06 08:28] #121 closed

[2020-04-06 08:29] #111 closed

[2020-04-06 08:43] lwouis commented on #114
I just tested the new code, and it seems to fix all issues. Fantastic work, thanks!

Right now I have set the `widthAnchor` to `100`, and it seems to allow un-ellipsed displays of most shortcuts. I'm sure there is a way to make a larger shortcut that ellipses, but most people will experience a non-ellipsed UI I think.

Do you know if there is a way to have the control resize depending on content.

[2020-04-06 08:52] Kentzo commented on #114
The builtin style is designed to retain control's size fixed and does have intrinsic size that is only as big as needed to display the longest possible label.

[2020-04-06 09:00] lwouis commented on #114
I meant, do you know of a way I could have the control follow the size of its *actual* label, not the longest possible label?

[2020-04-06 09:42] Kentzo commented on #114
I'd suggest to experiment by deactivating [the suggested width constraint](https://github.com/Kentzo/ShortcutRecorder/blob/c0b3a415c887a1b49c2cd4c497bfa8543eb60132/Library/SRRecorderControlStyle.m#L1076-L1081). The control then should resize itself with respect to the label width.

This is an internal detail, so no promises that I will be retain for the releases to come.

[2020-04-06 10:28] lwouis commented on #114
I tried disabling this constraint, but it didn't have any visible effect. I then tried disabling all constraints in my `ShortcutRecorder` subclass with:

[code]

Even this doesn't do anything. Maybe it's enabled later and I'm too early or at the wrong time in the lifecycle of the class?

[2020-04-06 10:52] Kentzo commented on #114
You have to subclass style to disable the constraint and exclude if from the `*constraints` properties.

[2020-04-06 11:10] lwouis commented on #114
I subclassed `RecorderControlStyle` and disable the constraints, but still not results. Also I can remove the constraint from the `alwaysConstraints` array because it is `readonly`. I tried to look for a way to do this in the `RecorderControlStyle.m` file but it seems that there is an internal `_ alwaysConstraints` variable that never exposed, that's later synthesized as a readonly array `alwaysCo

[2020-04-06 13:48] Kentzo commented on #114
`init` is too soon. You need to deactivate the constraint in `addConstraints` then modify the getter of `alwaysConstraints` to not return it (otherwise it will be re-activated by the control).

[2020-04-07 10:17] lwouis commented on #114
I tried to implement something around those guidelines. I couldn't get it to work. I think it's fine for now, especially since it would be messing with internals and making it risky on updates later down the line.

I'm actually surprised nobody asked for a way to have a smaller control before. The current one is quite large by default

By the way, regarding this ticket, I think you could close it.

[2020-04-07 10:46] Kentzo commented on #114
I have removed the explicit constraint for intrinsic width. The control now relies on the `intrinsicContentSize` provided by the style alone. In other words it should be enough to override `intrinsicContentSize` and return `NSViewNoIntrinsicMetric` for width.

Constraint for the height is still present as it's defined by the background assets.

Other things you may try to make the control smaller:

[2020-04-07 10:56] Kentzo commented on #114
Feel free to create a new issue to include a smaller style into the framework. I did that in the past and it worked. I included a complimentary "bonus" of $150 though :)

[2020-04-07 13:09] Kentzo commented on #120
Another thing to try: try to remove [these lines](https://github.com/Kentzo/ShortcutRecorder/blob/4754df7c95eb64f8ec1e7d8fd6d0f5c0972e1f20/Library/SRRecorderControl.m#L824-L825) that enable font smoothing.

[2020-04-07 13:20] lwouis commented on #120
Still the exception on the next line

Ok let me try that

[2020-04-07 14:43] #114 closed

[2020-04-08 06:21] lwouis commented on #120
When creating a demo app with minimal code to create a font as in the exception, I get no exception:

![image](https://user-images.githubusercontent.com/106195/78751043-74416500-79ac-11ea-9c5b-e0356887a84a.png)

Here is the one-file app:

[code]

[2020-04-08 06:25] lwouis commented on #120
Constructing fonts by name doesn't warn either:

![image](https://user-images.githubusercontent.com/106195/78751407-2547ff80-79ad-11ea-8578-c75a5f89db35.png)

[2020-04-08 07:03] Kentzo commented on #120
What if use the same API to draw the string as SR does? With the same attributes.

[2020-04-18 09:34] cool8jay opened #123 "Objective-C example code in README.md"
Tested on my Mac. Please add.

[code]

[2020-04-18 11:37] #123 closed

[2020-04-18 11:37] Kentzo commented on #123
Thank you! I have slightly changed the syntax for symmetry.

[2020-04-18 11:39] Kentzo commented on #120
@lwouis Any luck with reproducing the issue?

[2020-04-18 18:44] lwouis commented on #120
@Kentzo sorry for the delays. I'm trying to push important tickets for AltTab. I think this ticket being just a warning without any actual consequences, I will revisit it later, as soon as I have some bandwidth :)

[2020-05-05 18:09] lwouis commented on #120
I found the issue!

On Catalina, the new system font is `SF Pro`. That font doesn't contain the `⇥` unicode glyph for some reason.

| First character is only in Lucida Grande UI | All other characters are in SF Pro Text |
|--|--|
| ![image](https://user-images.githubusercontent.com/106195/81098440-53851480-8f44-11ea-946a-3cf3cbbbe756.png) | ![image](https://user-images.githubusercontent.com/106195

[2020-05-05 18:18] Kentzo commented on #120
I wonder how TextEdit suppresses this warning .

I think warning is something the project can live with. This character is used throughout the system and I’d like to keep it as is.

[2020-05-05 18:46] lwouis commented on #120
So you're not interested in any of the 2 workarounds? I'm fine with having a warning, but it's not just a false warning. There is an actual issue as there will be multiple fonts used to render the UI.

![image](https://user-images.githubusercontent.com/106195/81103256-c0e87380-8f4b-11ea-9cbc-4b272d67b5cf.png)

Here for example, the shift is SF Pro, and the tab is Lucida Grande. Not ideal as they h

[2020-05-05 20:03] Kentzo commented on #120
I'm not sure workaround is necessary: I have checked builtin Catalina apps, like Keyboard Viewer, and they seem to use Lucida Grande's font for that particular character. I believe it's important to match look'n'feel of the OS when it comes to this. As long as metrics are reported properly and rendering is not clipped I'm ok with this mix.

That said, right now it's not easy to customize code -> g

[2020-05-06 03:45] lwouis commented on #120
I wonder how Apple did their non-regression QA after switching fonts.

Anyway, thanks for sharing your thoughts. This was very interesting!

Please feel free to close this ticket 👍

[2020-05-06 08:37] Kentzo commented on #120
Fingers crossed the bug will resolve itself in June :) Please let me know if you hear anything from Apple.

[2020-05-11 18:38] Kentzo commented on #114
@lwouis Can you check if `SRAXGlobalShortcutMonitor` works for you when you change `kCGEventTapOptionDefault` to `kCGEventTapOptionListenOnly`?

[2020-05-11 18:43] lwouis commented on #114
@Kentzo I'm not sure what you mean. Currently in AltTab, [I use `kCGEventTapOptionDefault`](https://github.com/lwouis/alt-tab-macos/blob/master/src/logic/events/KeyboardEvents.swift#L19), which i need since I do modify events (i.e. absorb them if they match within ShortcutRecorder).

[2020-05-11 18:48] Kentzo commented on #95
Swift 5.3 will [include](https://github.com/apple/swift-evolution/blob/master/proposals/0271-package-manager-resources.md) support for resource bundles.

[2020-05-11 21:47] Kentzo commented on #114
Ah I see, indeed you do need `kCGEventTapOptionDefault`.

I'm considering what'd be a better default for ShortcutRecorder in general.

[2020-05-12 00:43] lwouis commented on #114
I would say least-priviledge is nice as a default, as long as people can opt-in the `default` mode, it's fine to have `listenonly` be the default, no?

[2020-05-12 08:12] Kentzo commented on #114
My thoughts exactly. Please take a look at the develop branch.

[2020-05-13 08:58] lwouis commented on #114
You mean that commit, right?

https://github.com/Kentzo/ShortcutRecorder/commit/ae35edde1018130662443b80aa3799c28bccdc48

I checked it and it seems nice to me. You let users set the `RunLoop` and also active/passive event filtering. Seems all good to me.

You may want to note that some users in AltTab complained that [sometimes the keyboard shortcuts stop working](https://github.com/lwouis/alt-tab

[2020-05-23 18:16] Kentzo commented on #114
You may get that type, even if you didn't register for it explicitly, e.g. if system decides your handler takes too long. Installed "tap" appears to be called synchronously by macOS''s input system.

Thus I suggest to avoid doing any work in the handler and instead handle asynchronously.

Perhaps that's exactly what was happening?

[2020-05-24 16:47] lwouis commented on #114
Do you have any proof that this actually happens? It would seem like such an oversight from Apple not to document it if that's the case. Very interesting in any case. I'll try to make the code returns as fast as possible. Thank you for the info!

[2020-05-24 17:35] Kentzo commented on #114
I have encountered it myself while working on this feature. I then added the necessary ‘if’.

The doc in the header says that these messages are out of band.

[2020-05-25 18:04] #120 closed

[2020-05-25 18:04] #34 closed

[2020-06-05 08:07] Kentzo commented on #95
WIP can be found at https://github.com/Kentzo/ShortcutRecorder/tree/spm (subject to force push, do not rely on its revisions).

Current obstacle: https://forums.swift.org/t/undefined-c-symbols-in-pure-objective-c-library-target/37227

[2020-06-11 01:09] lwouis commented on #114
Hi @Kentzo!

So, we've been trying to identify a [keyboard issue](https://github.com/lwouis/alt-tab-macos/issues/157) with AltTab's community for a while now. Today, I analyzed new logs from a user, and I see this message in these logs:

[code]

This message is coming from ShortcutRecorder. After digging a bit, I found the log line:

https://github.com/Kentzo/ShortcutRecorder/blob/efde820f44562e40

[2020-06-11 10:19] Kentzo commented on #114
Can you catch that case before conversion to NSEvent and dump the CGEvent (e.g. via CGEventCreateData)?

[2020-06-11 14:27] Kentzo opened #129 "SR_keyEventType may fail to interpret a CGEvent-based NSEvent."
Hi @Kentzo!

So, we've been trying to identify a [keyboard issue](https://github.com/lwouis/alt-tab-macos/issues/157) with AltTab's community for a while now. Today, I analyzed new logs from a user, and I see this message in these logs:

[code]

This message is coming from ShortcutRecorder. After digging a bit, I found the log line:

https://github.com/Kentzo/ShortcutRecorder/blob/efde820f44562e40

[2020-06-11 14:27] Kentzo commented on #129
AFAIK NSEvent.init(cgEvent:) returns an optional, do you check somewhere that the conversation was successful?

Can you catch that case before conversion to NSEvent and dump the CGEvent (e.g. via `CGEventCreateData`)? Specifically I'm interested in `kCGKeyboardEventKeycode` which can be obtained via `CGEventGetIntegerValueField`.

Perhaps macOS may erase (or not know?) key code that caused the cha

[2020-06-11 14:58] Kentzo commented on #114
@lwouis Btw, try https://github.com/Kentzo/ShortcutRecorder/blob/develop/Library/SRShortcut.h#L80 to avoid some ugliness in your code to circumvent that `characters` bug.

[2020-06-23 02:18] phin opened #130 "3.1 is the latest version when pulling cocoapods"
3.2 doesn't seem to be available on Cocoapods, and the sample code doesn't compile as NSKeyedUnarchiveFromDataTransformerName isn't valid anymore

[2020-06-23 15:08] Kentzo commented on #130
Thanks, I will update the pod. Starting with the next release it will be automatically updated by Travis.

Would you like to prepare a PR for the README?

[2020-06-23 15:12] Kentzo commented on #129
@lwouis Were you able to resolve the issue?

[2020-06-24 17:05] lwouis commented on #129
@Kentzo sorry about the delay!

Here are the relevant logs:

[code]

Here is the code that logs:

[code]

The code does:

[code]

so `event__` could indeed be `nil` here. Then we log:

[code]

relevant part being: `event__?.modifierFlags.rawValue.description ?? "nil"`

Here if `event__` was `nil`, it would make `event__?.modifierFlags.rawValue.description` equal `nil`, however we see in the logs:

[2020-06-24 17:20] Kentzo commented on #129
If the information about the key is not included into event the only other option is to track modifierFlags and diff manually.

[2020-06-24 18:12] Kentzo commented on #129
Please test the workaround I just added.

[2020-06-25 06:11] lwouis commented on #129
My current understanding was that it's macOS which is strangely generating buggy events (with a `keyCode` value of `0` which is outside the value listed in macOS SDK/docs). You're now talking about a fix in SR, so I'm a bit confused.

Could you please tell me a bit more about what this new commit goal is and how it tries to achieve it?

[2020-06-25 09:01] Kentzo commented on #129
Since event tap installed by SRAXGlobalShortcutMonitor intercepts _all_ keyboard events, it's possible to maintain previous state of modifier flags. That allows to calculate the difference in modifier flags even if keyCode is 0 and pick the right event type.

[2020-06-26 03:24] lwouis commented on #129
Even though SR is storing state to remember modifiers state, i'm worried about side-stepping the fact that the OS sends a bogus event. Like what is actually happening on the physical keyboard when the OS sends that event? Did the user even press anything in real life? Maybe it would be better to ignore these events rather than react to them with stored state. Without knowing why these exist, i don

[2020-06-27 11:50] Kentzo commented on #129
That's fair, let's conduct further testing. Can you add the following code in your tap handler where your receive CGEvent from the system:

[code]

Then after analyzing the data we will be able to see whether my workaround is sound.

[2020-07-21 17:18] lwouis commented on #129
I haven't gone around to add this snippet yet. For context, this issue only happen on other people computers, not mine. This means I have to make a local build with your changes, give it to them, hope that they are reactive enough to actually come back to me with results, and be able to explain what shortcut they pressed so we know what the logs are reflecting. This is not very easy, as I've exper

[2020-07-21 17:45] Kentzo commented on #129
Being not thread safe is one thing, being main thread only is another. Apple's API by default is not thread safe but not main thread ony unless documented otherwise. It's sometimes hard to unwind documentation because an API that's otherwise not documented as main-thread-only may have such dependency somewhere inside.

CGEvent.h has the following to say about Event Taps:

You thus should make sure

[2020-07-21 17:54] lwouis commented on #129
I think you misunderstood my theory. I'm not saying that there is an issue with access to the `NSRunLoop` class. The loop is started correctly, and runs smoothly.

The issue, I believe, lies with what's being processed in that run loop. Namely, there are calls to `NSEvent(cgEvent: cgEvent)`. I think that, even though it's not documented, this constructor needs to be called on the main thread. I th

[2020-07-21 18:51] Kentzo commented on #129
You're likely right. I will have to remove NSEvent-related API from the SRAXGlobalShortcutMonitor's handler.

[2020-07-21 19:55] Kentzo commented on #129
Please take a look (it's a force push).

[2020-07-28 02:39] donly commented on #95
I have a try to use this in Xcode 12 beta 3, while compiling it shows these errors.
`/SourcePackages/checkouts/ShortcutRecorder/Sources/ShortcutRecorder/SRCommon.m:42:33: error: expected ';' after return statement
    return SWIFTPM_MODULE_BUNDLE
                                ^
                                ;`

[2020-07-28 15:20] Kentzo commented on #95
@donly Changes from the spm branch were merged into the develop branch. I have fixed that bug there. Please let me know how it goes.

[2020-07-29 01:21] donly commented on #95
After adding `https://github.com/Kentzo/ShortcutRecorder.git` to Swift Packages with `develop`, there are three issues.

[code]

[2020-07-29 06:15] Kentzo commented on #95
Could you attach the compilation log?

Best Regards
Ilya Kulakov

[2020-07-29 06:22] donly commented on #95
The project is open source, please see https://github.com/donly/screen-jumper/tree/spm.

Thanks a lot, Kentzo

[2020-07-29 09:11] Kentzo commented on #95
Hmm, I do not see Package definition there.

[2020-07-29 13:57] Kentzo commented on #95
Found and fixed the issue, please try again.

[2020-07-29 18:08] Kentzo commented on #129
@lwouis Do you have any feedback before I merge this?

[2020-07-29 19:09] lwouis commented on #129
Hey @Kentzo! Very sorry about my lack of feedback. I haven't been able to test this yet. Tickets have been pilling up like crazy over at AltTab, and I haven't had time to:

* Update the ShortcutRecorder version/commit
* Migrate to `SRAXGlobalShortcutMonitor` (I'm still using [my own code](https://github.com/lwouis/alt-tab-macos/blob/master/src/logic/events/KeyboardEvents.swift) which I feel is goi

[2020-07-29 19:24] Kentzo commented on #129
I can always add an additional target to the project with whatever private mangling needed.

[2020-07-29 19:30] lwouis commented on #129
I assumed you would not be open to include private APIs, as that would prevent users from using the framework for a MAS-friendly app. Or maybe there is a way to flag it so it adds that code only with certain xcode flags?

[2020-07-29 20:41] Kentzo commented on #129
Can be done via either a compile-time flag or a separate, extended, target.

[2020-07-30 01:26] donly commented on #95
Awesome, it works very well.
Thanks.

[2020-08-24 09:55] lwouis commented on #129
Sorry I should have updated this ticket already.

There are 2 topics i think here.

### keyboard input processing outside of the main thread

Using the `CGEvent.createTap`, I was able to have keyboard input being processed off the main thread, so that main thread UI work can be stopped if a keyboard input is sent in the middle of let's say an animation.

This approach was great, however it may be

[2020-08-24 14:07] Kentzo commented on #129
Please give me the details. I believe that ShortcutMonitor is generic enough for any underlying API.

[2020-08-24 14:28] lwouis commented on #129
The main carbon API is `InstallEventHandler`. It lets us listen to certain keyboard events. The ones we are interested in are: keyDown/keyUp, modifiersChanged, hotKeyPressed.

It may seem like the easiest way to do shortcut recording would be to listen to keyDown/keyUp + modifiersChanged. The issue here is that keyDown/keyUp stop sending events when SecureInput is enabled by some app, or the OS it

[2020-08-24 20:48] Kentzo commented on #129
Do you know if InstallEventHandler requires the accessibility permission?

[2020-08-25 03:25] lwouis commented on #129
I didn't test clearly during development, as AltTab needs the permission anyway to operate, but I noted:

So, not sure really, but it seems to depend on what exactly is being observed. More tests would be needed to make sure what requires permissions exactly.

[2020-10-27 13:38] lwouis opened #132 "Add support for the fn key as a modifier"
Hi @Kentzo!

A user [asked today](https://github.com/lwouis/alt-tab-macos/issues/661) why they can't bind the `fn` key in shortcuts. I never thought about that, but after thinking about it and looking at Apple docs, it seems like it's a valid idea.

I looked in SR's codebase and couldn't find any reference to [`kcgeventflagmasksecondaryfn`](https://developer.apple.com/documentation/coregraphics/cg

[2020-10-27 19:05] Kentzo commented on #132
Many external keyboards do not have the Fn button. The key in general is reserved to alter the touch bar and keyboard behavior.

It's likely that _certain_ shortcuts can be recorded with Fn but milage may vary depending on OS version, locale, system language, selected input source etc. I thus never added support for it to avoid support tickets in other products I maintain. IIRC public Carbon API t

[2020-10-28 16:11] lwouis commented on #132
I just tested the fn key on macOS built-on shortcuts in `System Preferences > Keyboard > Shortcuts`. It has a very weird behavior! When pressing `fn`-`D`, it registers the shortcut as such:

![image](https://user-images.githubusercontent.com/106195/97458268-e3e56480-197d-11eb-95a6-a4aa242f6169.png)

It doesn't show a symbol for the `fn` key. 2 things to note here:

* Pressing `D` alone doesn't tri

[2020-10-28 16:11] #132 closed

[2020-10-28 18:39] Kentzo commented on #132
The shortcut recorder control Apple uses in that pref pane is… far from being ideal. If only there was an alternative :)

[2020-11-28 22:49] daveverwer commented on #95
I see that the `spm` branch has been merged in, and the readme file says that SPM is supported. That's great news! Unfortunately, I am having a problem, related to the `@IBDesignable` code in the package.

I added the package and everything builds fine, but as soon as I add a `SRRecorderControl` to a storyboard I get an error as it tries to build for Interface Builder. The app itself runs and work

[2020-11-29 00:00] Kentzo commented on #95
Interesting, what version of Xcode are you trying that in?

[2020-11-29 06:43] daveverwer commented on #95
Apologies, I should have included that! I'm running the latest stable, Version 12.2 (12B45b) on Big Sur.

I just made a new project, imported the package and placed a view on the view controller in the storyboard and reproduced it. [Here's the project](https://github.com/Kentzo/ShortcutRecorder/files/5611754/Test.zip).

[2020-11-30 12:33] Kentzo opened #133 "Cocoa is not available when building for tvOS Simulator"
I see that the `spm` branch has been merged in, and the readme file says that SPM is supported. That's great news! Unfortunately, I am having a problem, related to the `@IBDesignable` code in the package.

I added the package and everything builds fine, but as soon as I add a `SRRecorderControl` to a storyboard I get an error as it tries to build for Interface Builder. The app itself runs and work

[2020-11-30 12:34] #95 closed

[2020-11-30 12:37] Kentzo commented on #133
@daveverwer Cannot try it yet (don't have that Xcode installed). Does the error affect rendering in IB only or you cannot compile the app as well? If that's the latter, can you navigate to the Reports panel and locate the associated log records? They should show what command Xcode tried to execute and raw output.

[2020-11-30 19:31] daveverwer commented on #133
The error only affects IB, and the app runs correctly even with the control showing an error in IB.

It shows the error here:

<img width="267" alt="Screenshot 2020-11-30 at 19 29 23@2x" src="https://user-images.githubusercontent.com/5180/100654886-62993d00-3342-11eb-9c65-fefe346e946b.png">

Then, here's the build from the Reports panel:

![Uploading Screenshot 2020-11-30 at 19.31.09@2x.png…]()

[2020-11-30 21:57] Kentzo commented on #133
Can you click the burger (rightmost) button of a failure record to unfold the command line that Xcode used?

[2020-12-01 20:50] daveverwer commented on #133
Apologies, I should have included that with the last comment! Here you go:

[code]

[2020-12-01 21:01] Kentzo commented on #133
Perhaps the project or XIB is annotated to be multiplatform? The package itself is [annotated](https://github.com/Kentzo/ShortcutRecorder/blob/07b065085e172d85b7b5a0f3cc05f6ed47ad5af1/Package.swift#L9) to require macOS.

[2020-12-02 07:39] daveverwer commented on #133
I must admit I'm not sure how to annotate a Storyboard for multiple platforms, but my first thought was also that it was something in my project that was causing this. The screenshots and logs above are from a brand new Test project that was certainly created as macOS only.

In terms of what platform the storyboard is for, here's what's in the File Inspector for it:

<img width="270" alt="Screensh

[2020-12-02 10:47] Kentzo commented on #133
Related issue on Apple's devforums: https://developer.apple.com/forums/thread/652552 (you may find other issues there with IB too). Could you report the but to Apple and share a link to this project?

[2021-01-15 14:31] lwouis opened #134 "Support for Apple Silicon?"
Hi @Kentzo,

Users of AltTab have been requested a Universal App, to have the app run natively on their Apple Silicon macs. For an app to run on ARM arch, it should have all its dependencies be compiled for ARM as well, as I understand it. This means AltTab would need a Universal Build of ShortcutRecorder.

Are there any plans to release a Universal Build of ShortcutRecorder to support the new App

[2021-01-15 14:36] lwouis commented on #74
Hey @Kentzo, could you clarify the scope of this ticket? Maybe I can help here. What exactly should match the deployment target condition?

[2021-01-15 15:07] Kentzo commented on #134
Have you tried integrating SR with SPM? It should support Apple Silicon without extra actions.

[2021-01-15 15:08] Kentzo commented on #74
First it needs to be verified that App thinning is available for macOS 11. Then resources (styles) for older OSes should be excluded.

[2021-01-15 15:10] lwouis commented on #134
Interesting. I've never tried SPM actually. I'll try to replace Cocoapods with it to see. I'm expecting lots of issues though, as these things are very complex 😅

Thanks for the very quick answer!

[2021-01-15 15:11] Kentzo commented on #134
I currently have neither 11 nor Apple Silicon, so would be hard to debug Universal Builds. But it's definitely a thing to have.

[2021-01-15 15:21] lwouis commented on #74
I think App Thinning is mostly used when discussing Distribution-side thinning. Specifically, you download an app from the Mac App Store, and depending on your local environment, Apple is going to [strip away necessary content from that download](https://medium.com/@ankur.s20/implementing-app-thinning-in-your-project-step-by-step-tutorial-ios-app-b3cfd139896d).

I was [looking into such things for

[2021-01-15 15:27] Kentzo commented on #74
Last time I checked App Thinning was not supported on macOS.

[2021-01-15 17:19] Kentzo commented on #74
You're correct that thinning happens before distribution. However, the project must be built and properly annotated to support that.

[2021-02-02 21:03] gcox commented on #134
@lwouis Most dependencies don't require any changes for Apple Silicon. I can confirm that ShortcutRecorder works fine on Apple Silicon and it doesn't matter whether you use CocoaPods or SPM to integrate it.

[2021-02-03 00:58] lwouis commented on #134
@gcox all right, i'll close this ticket then now. Thanks everyone!

[2021-02-03 00:58] #134 closed

[2021-02-24 13:41] lwouis opened #136 "Support mouse shortcuts?"
Hi,

A user of AltTab mentioned they would like to bind some shortcut to the mouse middle-click. After considering their request, I started wondering if you had considered supporting mouse-interactions, maybe even other triggers. BetterTouchTool for instance supports all these trigger types:

![image](https://user-images.githubusercontent.com/106195/109008931-4151ae00-76f1-11eb-9823-438e39e32baf.p

[2021-02-24 16:01] Kentzo commented on #136
You are the first to ask for it. It's an interesting feature to have indeed.

[2021-02-24 16:33] lwouis commented on #136
Something to consider as well is the potential redundancy of such customization. Indeed, users could use tools such as BTT to rebind a trigger to another trigger (e.g. mouse motion to keyboard shortcut).

It reminds me a bit of every app exposing a sound volume, when there is a central volume UI. And if you need per-app volume controls, you can use an app like Sound Control. Same thing for every g

[2021-02-24 18:37] Kentzo commented on #136
I'm not sure whether global shortcut with a mouse button is something achievable without using private API (a big no-no, as SR must be MAS-safe). But it may be useful for local shortcut handling in apps like editors and IDEs.

[2021-04-29 20:57] iandunn opened #138 "Keys don't track input source"
Hi, it looks like [apps that use ShortcutRecorder can't automatically update shortcuts when the keyboard layout changes](http://support.timelimeapp.com/discussions/problems-mac/745-keyboard-shortcuts-use-wrong-keys-with-colemak-dvorak-etc). All the other apps I use do.

Steps to reproduce:

1. set a shortcut to `ctrl-alt-t`
1. type `ctrl-alt-t`, it will fire the assigned action
1. switch to Colema

[2021-04-29 23:45] Kentzo commented on #138
I [shared](http://support.timelimeapp.com/discussions/problems-mac/747-re-keyboard-shortcuts-use-wrong-keys-with-colemak-dvorak-etc/) my ideas of this can be implemented with the Timelime's support.

[2021-11-29 02:02] PierL opened #141 "Validation against system shortcuts doesn't work"
How does the validation?

In my case, the recorder is allowing all system shortcuts such as cmd+C and cmd+V. I can see the same thing happens with the example app Inspector.

When I use the old version of the framework, which uses the additional PTHotKey framework, I correctly get an error message when I try to set a shortcut that is already taken by the system.

[2021-11-29 04:21] PierL commented on #141
I figured it out!

I had to link the delegate in the IB and implement the recorder's delegate method - (BOOL)recorderControl:(SRRecorderControl *)aRecorder canRecordShortcut:(SRShortcut *)aShortcut using an instance of SRShortcutValidator to check the shortcut using.

It would be a good idea to include this in the documentation.

[2021-11-29 04:21] #141 closed

[2022-04-29 15:41] lwouis opened #143 "Issue with shortcut using character-above-tab-key on Monterey"
Lots of AltTab users with non-English keyboards are reporting that shortcuts using the key above `tab` are not working since they upgraded to Monterey.

You can see the in-depth conversations on the ticket here: https://github.com/lwouis/alt-tab-macos/issues/1190

Here are some examples:

Etc, it goes on, many cases with various behaviors. It seems something changed with Monterey that broke Shortc

[2022-05-08 18:18] Kentzo commented on #143
That's a tricky one. I'll see if I can reproduce it.

[2022-06-10 11:42] lwouis commented on #143
@Kentzo any update? 🙇‍♂️

[2022-08-28 08:40] wojciech-kulik opened #148 "Constraints crash"
First of all, thank you for this nice library, I really like it!

From time to time I get this crash from my app:

[code]

My app is targeting `macOS 11.0` and I'm using ShortcutRecorder `3.3.0`. The last noticed crash was on macOS 12.5.1

[2022-09-15 00:22] Kentzo commented on #148
Are you able to reproduce this crash with the Inspector app? Otherwise, could you come up with a sample app so I could debug the issue?

[2022-09-15 00:37] wojciech-kulik commented on #148
Unfortunately,  I wasn't able to reproduce it :(

[2022-09-15 01:41] Kentzo commented on #148
Does your app manipulate constraints of subviews in any way?

[2022-09-20 14:28] mangerlahn opened #149 "Xcode 14 compatibility"
We moved to Xcode 14 and are seeing some compatibility issues with ShortcutRecorder. Xcode 14 seems to require macOS 10.13 as deployment target. So the first question is whether the deployment target should be moved from 10.11 to 10.13. This also affects the Swift Package: https://developer.apple.com/documentation/packagedescription/supportedplatform/macosversion/v10_11

Once the deployment target

[2022-09-20 21:24] Kentzo commented on #149
Ideally I'd prefer to drop the deprecated APIs together with adding and refining codebase using new APIs.

My plan was to have first class support for Catalyst, SwiftUI and i*OS. But no ETA for this.

[2022-09-21 08:55] mangerlahn commented on #149
Ok, so moving to 10.13 seems sensible then. OSLog is available on iOS and macOS, so it could be used as replacement for most of the tracing functions. Not sure about the payload stuff though. Logging or simple code deletion?

[2022-09-21 17:14] Kentzo commented on #149
TBH I'm behind current best practices for tracing. Perhaps those APIs were replaced with something new from Instruments.app?

[2022-10-14 12:52] frypf commented on #143
I'm one of the international layout users @lwouis mentions above - anything we can do to help with testing this solution?

[2022-10-22 01:06] decodism commented on #143
Alternative workaround (not sure of code quality):

[code]

[2022-10-22 01:25] Kentzo commented on #143
I'll look into this next week.

[2022-10-30 14:22] lwouis commented on #143
I tried both fixes above (both are from @decodism) and it seems to fix the issue. My test use-case was to switch my `Input Source` to Spanish, and set a shortcut with the key-above-tab, which is `<` on the Spanish Input Source.

The shortcut then worked in AltTab. Without the diff above, it didn't trigger at all, and after restarting AltTab, the shortcut UI would show the weird long underscore (se

[2022-10-30 14:39] lwouis commented on #143
The root cause of the bug seems to lie in how: `newTranslationToKeyCode` (which is copied into `_translationToKeyCode`) is initiated.

Here is the diff (left is with the fix in the OP; right is current state):

<img width="755" alt="image" src="https://user-images.githubusercontent.com/106195/198884472-3377caee-abeb-4cc8-ab3f-ee2b4dd3105c.png">

Looking at the affected keys, I tried to use `,` and